/*font */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
.cTitle {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 157%;
  text-align: center;
}
.cTitle--white {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 37.5px */
}
.cTitle--black {
  color: #272727;
  text-align: center;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 37.5px */
}
.cTitle--brown {
  color: #963337;
}
.cTitle--blue {
  color: #3861ae;
  text-align: center;
  font-family: Bitter;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 52px */
}

.cSectionText {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 157%;
  color: #ffffff;
  text-align: center;
}
.cSectionText--white {
  color: #fff;
}
.cSectionText--black {
  color: #6a6a6a;
}

@keyframes goUp {
  0% {
    top: 70%;
    transform: scale(1);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    top: 0;
    transform: scale(2.5);
    opacity: 0;
  }
}
.cBtn {
  border-radius: 0px;
  display: flex;
  font-family: inherit;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease-in-out;
}
.cBtn--blue {
  background: #3861ae;
}
.cBtn--orange {
  border-radius: 8px;
  background: #f26927;
}
.cBtn:hover {
  background: #3861ae;
}
.cBtn:hover span {
  animation: btnTransform 0.5s linear;
}
.cBtn span, .cBtn__span {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 16px;
  color: #ffffff;
  padding: 10px 36px;
}
.cBtn--white {
  background-color: #fff;
}
.cBtn--white span {
  color: #009f4f;
}
.cBtn--white:hover span {
  color: #fff;
}
@keyframes btnTransform {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  20% {
    transform: translateX(-50%);
    opacity: 0;
  }
  60% {
    transform: translateX(-100%);
    opacity: 0;
  }
  80% {
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
  }
}

.cSubText {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 2em;
  color: #888888;
  font-weight: 400;
  text-align: justify;
}
.cSubText span {
  font-weight: 600;
}
.cSubText--white {
  color: #fff;
}

.clargeText {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 6.4rem;
  line-height: 75px;
  text-transform: uppercase;
  color: #f37022;
}

.banner {
  position: relative;
  background-color: #009f4f;
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.banner::after {
  background: rgba(56, 97, 174, 0.5);
  mix-blend-mode: normal;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
}
.banner__content {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 100;
  transform: translateX(-50%) translateY(-50%);
  justify-content: center;
  text-align: center;
  display: flex;
  grid-gap: 0px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 157%;
  color: #ffffff;
}
.banner h3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 157%;
  color: #ffffff;
  text-transform: capitalize;
}
.banner__title {
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 38px;
  text-transform: uppercase;
  color: #ffffff;
}
.banner__breadCrumb {
  padding: 14px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  align-items: center;
  font-size: 1.4rem;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  line-height: 157%;
  background: #3861ae;
  mix-blend-mode: normal;
  color: #fff;
}
.banner__breadCrumb iconify-icon {
  font-size: 2.4rem;
}
.banner__breadCrumb a {
  color: #fff;
  /* Paragraph/P2/Regular */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  letter-spacing: -0.36px;
  text-transform: capitalize;
}

.readmoreBtn {
  color: #f26927;
  font-family: Inter;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.36px;
  transition: all 0.1s ease-in-out;
}

.requiredDocs__desc {
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  margin-top: 30px;
}

/* color classes----------------------------------------------- */
/* rest ------------------------------------ */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: 0;
  border: 0;
  appearance: none;
  box-sizing: border-box;
  list-style: none;
}

/* default styling and custom-helper-classes-------------------------------*/
html {
  font-size: 10px;
  overflow-x: hidden;
}
@media (max-width: 1440px) {
  html {
    font-size: 8.5px;
  }
}

body {
  font-family: "Lato", sans-serif;
  line-height: 10px;
  margin: 0px;
  position: relative;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 96px;
  text-align: center;
  color: var(--color-white);
  margin-bottom: 0px;
  text-transform: capitalize;
}

h2 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 3.6rem;
  line-height: 43px;
  color: var(--color-heading);
  margin-bottom: 0px;
  text-transform: capitalize;
}

h3 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 26px;
  color: var(--color-heading);
  margin-bottom: 0px;
  text-transform: capitalize;
}

p {
  margin-bottom: 0px;
}

ul {
  padding: 0;
  margin: 0;
}

.wrapper {
  padding-left: 12.2%;
  padding-right: 12.2%;
}
@media (max-width: 1440px) {
  .wrapper {
    padding-left: 8%;
    padding-right: 8%;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper {
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    padding-left: 3.5%;
    padding-right: 3.5%;
  }
}
.wrapper--left {
  padding-left: 15%;
  padding-right: 0%;
}
@media (max-width: 1300px) {
  .wrapper--left {
    padding-left: 10%;
    padding-right: 0%;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper--left {
    padding-left: 5%;
    padding-right: 0%;
  }
}
@media screen and (max-width: 768px) {
  .wrapper--left {
    padding-left: 3.5%;
    padding-right: 3.5%;
  }
}
.wrapper--right {
  padding-left: 0%;
  padding-right: 15%;
}
@media (max-width: 1300px) {
  .wrapper--right {
    padding-left: 0%;
    padding-right: 10%;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper--right {
    padding-left: 0%;
    padding-right: 5%;
  }
}
@media screen and (max-width: 768px) {
  .wrapper--right {
    padding-left: 3.5%;
    padding-right: 3.5%;
  }
}

.row {
  margin: 0px;
  padding: 0px;
}

.col-lg-3,
.col-lg-4,
.col-lg-5.col-lg-6,
.col-lg-7,
.col-lg-9 {
  padding: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.row > * {
  padding-right: 0px;
  padding-left: 0px;
}

section {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 1440px) {
  section {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}
@media (max-width: 768px) {
  section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.topbar {
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #fff;
  background: #3861ae;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  grid-gap: 8px 60px;
}
@media (max-width: 767px) {
  .topbar {
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }
}
.topbar .fixed {
  padding-top: 0px;
  padding-bottom: 0px;
  position: absolute;
}
.topbar__details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-column-gap: 19.5px;
  grid-row-gap: 8px;
  align-items: center;
  justify-content: center;
  animation-delay: 0.6s;
}
.topbar__details__item {
  display: flex;
  align-items: center;
  grid-column-gap: 4.8px;
  color: #fff;
  text-align: right;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 25.2px */
  letter-spacing: 0.5px;
}
.topbar__details__item a {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 157%;
}
.topbar__btns {
  display: flex;
  flex-direction: row;
  grid-gap: 10px;
}
.topbar iconify-icon {
  font-size: 1.8rem;
}

.navbar {
  background-color: #fff !important;
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: 0px !important;
  display: flex;
  justify-content: space-between;
  border-bottom: 6px solid #fff;
  height: 100px;
  z-index: 1000;
}
@media (max-width: 767px) {
  .navbar {
    transition: all 0.3s ease-in-out;
    height: auto;
  }
}
.navbar .navbar-brand {
  padding-top: 8px;
  padding-bottom: 8px;
}
.navbar .navbar-brand img {
  width: 100%;
  height: 75px;
}
@media (max-width: 960px) {
  .navbar .navbar-brand img {
    width: 170px;
  }
}
.navbar #navbarNav {
  flex-direction: row-reverse;
}
@media (min-width: 768px) {
  .navbar #navbarNav {
    height: 100%;
  }
}
.navbar-nav {
  height: 100%;
  grid-column-gap: 3.2vw;
  grid-row-gap: 10px;
  align-items: center;
}
@media (max-width: 1445px) {
  .navbar-nav {
    grid-column-gap: 1.2vw;
  }
}
@media (max-width: 1162px) {
  .navbar-nav {
    grid-column-gap: 0.5vw;
  }
}
@media (max-width: 794px) {
  .navbar-nav {
    grid-column-gap: 0;
  }
}
.navbar-nav .nav-item {
  height: max-content;
  text-wrap: nowrap;
}
@media (max-width: 767px) {
  .navbar-nav .nav-item {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .navbar-nav .nav-item .dropdown {
    top: unset;
    transform: unset;
  }
}
.navbar-nav .nav-item .dropdown .nav-link {
  background-color: unset;
  border: none;
  outline: none;
}
.navbar-nav .nav-item .dropdown .nav-link.active, .navbar-nav .nav-item .dropdown .nav-link:hover {
  border: none;
  outline: none;
  appearance: none;
}
.navbar-nav .nav-item .dropdown .dropdown-menu .dropdown-item,
.navbar-nav .nav-item .dropdown .dropdown-menu .nav-link {
  padding: 8px 10px !important;
}
.navbar-nav .nav-item .nav-link {
  height: 100%;
  display: flex;
  align-items: center;
  color: #51565e;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  margin: 0px;
  padding: 0px;
  position: relative;
  padding: 0px 10px;
  padding-bottom: 5px;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 1445px) {
  .navbar-nav .nav-item .nav-link {
    font-size: 16px;
    padding: 0px 8px;
  }
}
@media (max-width: 772px) {
  .navbar-nav .nav-item .nav-link {
    padding: 0px 5px;
  }
}
.navbar-nav .nav-item .nav-link::before {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  height: 2px;
  width: 0%;
  transition: all 0.2s ease-in-out;
  background: linear-gradient(270deg, rgba(38, 87, 164, 0) 0%, #2657a4 48.85%, rgba(38, 87, 164, 0) 100%);
}
.navbar-nav .nav-item .nav-link.active {
  color: #3861ae;
}
.navbar-nav .nav-item .nav-link.active::before {
  width: 100%;
}
.navbar-nav .nav-item .nav-link:hover {
  color: #3861ae;
}
.navbar-nav .nav-item .nav-link:hover::before {
  width: 100%;
}
@media (max-width: 1770px) {
  .navbar-nav .nav-item .nav-link {
    padding: 0px 8px;
  }
}
@media (max-width: 767px) {
  .navbar-nav .nav-item .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .navbar-nav .nav-item .nav-link:last-child {
    padding-bottom: 10px;
  }
}
.navbar .navbar-toggler iconify-icon {
  color: #f26927;
  font-size: 2.8rem;
  font-size: 2.8rem;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.hero {
  height: 829px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 600px) {
  .hero {
    height: 500px;
  }
}
.hero::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 0;
}
.hero__captions {
  color: #fff;
  font-family: Bitter;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.28px;
  position: absolute;
  top: 50%;
  z-index: 1;
  left: 0%;
  text-align: center;
  transform: translateY(-50%);
}
@media (max-width: 1200px) {
  .hero__captions {
    padding: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 525px;
    width: 100%;
    max-width: 320px;
  }
}
@media (max-width: 360px) {
  .hero__captions {
    max-width: 259px;
  }
}
.hero__captions__title {
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  line-height: normal;
  text-align: left;
}
@media (max-width: 1200px) {
  .hero__captions__title {
    width: 100%;
    font-size: 32px;
    text-align: center;
    line-height: 120%;
  }
}
.hero__captions__sub {
  color: #fff;
  font-family: Inter;
  text-align: left;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: 30px;
  letter-spacing: -0.32px;
  display: flex;
  align-items: center;
  text-wrap: wrap;
  margin-top: 30px;
  max-width: 630px;
}
@media (max-width: 1200px) {
  .hero__captions__sub {
    font-size: 1.8rem;
    line-height: 25px;
    margin-top: 24px;
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 437px) {
  .hero__captions__sub {
    font-size: 1.6rem;
    line-height: 25px;
    margin-top: 24px;
    padding: 10px;
    width: 100%;
  }
}
.hero .ph-caret-left {
  position: absolute;
  left: 7.5%;
  top: 50%;
  z-index: 5;
  transform: translateY(-50%);
  color: white;
  border: 1px solid #fff;
  padding: 13px;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
}
.hero .ph-caret-left:hover {
  background: #f26927;
  color: #fff;
}
@media (max-width: 1568px) {
  .hero .ph-caret-left {
    left: 3.5%;
  }
}
@media (max-width: 725px) {
  .hero .ph-caret-left {
    font-size: 1.8rem;
    padding: 6px;
  }
}
.hero .ph-caret-right {
  position: absolute;
  right: 7.5%;
  top: 50%;
  z-index: 5;
  transform: translateY(-50%);
  color: white;
  border: 1px solid #fff;
  padding: 13px;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
}
.hero .ph-caret-right:hover {
  background: #f26927;
  color: #fff;
}
@media (max-width: 1568px) {
  .hero .ph-caret-right {
    right: 3.5%;
  }
}
@media (max-width: 725px) {
  .hero .ph-caret-right {
    font-size: 1.8rem;
    padding: 6px;
  }
}

.hero-wrapper {
  position: relative;
}
.hero-wrapper .hero__points {
  z-index: 1000;
  position: absolute;
  top: 100%;
  right: 0;
  transform: translateY(-50%);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background: #963337;
  padding: 30px 60px;
  color: #fff;
}
.hero-wrapper .hero__points__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0px 35px;
  gap: 10px;
  position: relative;
}
.hero-wrapper .hero__points__item::after {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 85%;
  content: "";
  background-color: #fff;
}
.hero-wrapper .hero__points__item:nth-child(1) {
  padding-left: 0px;
}
.hero-wrapper .hero__points__item:last-child {
  border-right: none;
  padding-right: 0px;
}
.hero-wrapper .hero__points__item:last-child::after {
  display: none;
}
.hero-wrapper .hero__points__item iconify-icon {
  font-size: 3.5rem;
}
.hero-wrapper .hero__points__item__text {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
}
@media (max-width: 767px) {
  .hero-wrapper .hero__points {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
  .hero-wrapper .hero__points .hero__points__item {
    padding: 0px 15px;
  }
  .hero-wrapper .hero__points .hero__points__item::after {
    display: none;
  }
}

.cutoff-text {
  --max-lines: 2;
  --line-height: 1.5;
  height: calc(var(--max-lines) * 1em * var(--line-height));
  line-height: var(--line-height);
  overflow: hidden;
  position: relative;
  margin-bottom: 0px;
}
.cutoff-text:has(+ .vehicle-detail__carousel-item-left__expand-btn:not(:checked))::before {
  content: "";
  position: absolute;
  height: 16px;
  width: 100%;
  bottom: 0;
  pointer-events: none;
}
.cutoff-text:has(+ .vehicle-detail__carousel-item-left__expand-btn:checked) {
  height: auto;
}

.vehicle-detail__carousel-item-left__expand-btn {
  margin-top: 25px;
  appearance: none;
  color: #fff;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
}
.vehicle-detail__carousel-item-left__expand-btn::before {
  content: "See More";
}
.vehicle-detail__carousel-item-left__expand-btn:checked::before {
  content: "See Less";
}

.counterSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  grid-column-gap: 120px;
  grid-row-gap: 45px;
}
.counterSection .counter__item {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.counterSection .counter__item p {
  font-size: 1.8rem;
  color: #4e4e4e;
  text-transform: capitalize;
}

.readmoreBtn {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 21px;
  color: #f37022;
  text-transform: capitalize;
  background-color: transparent;
  margin-top: 10px;
  transition: all 0.2s ease-in-out;
}
.readmoreBtn--black {
  color: #888888;
  font-weight: 700;
}
.readmoreBtn:hover {
  color: rgba(243, 112, 34, 0.7);
}

.jobs {
  padding-top: 200px;
}
.jobs__content {
  margin: 0 auto;
  position: relative;
  width: 64%;
}
@media (max-width: 1024px) {
  .jobs {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}
.jobs__swiper {
  margin-top: 20px;
}
.jobs__swiper__slide {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 24px;
  color: #4b4b4b;
  padding: 10px;
  border-radius: 7px;
}
.jobs__swiper__slide .img__container {
  width: 100%;
  height: 315px;
  object-fit: cover;
  position: relative;
}
.jobs__swiper__slide .img__container::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 20%;
  z-index: 16;
  background: linear-gradient(to top, rgba(243, 112, 34, 0.5) 1%, rgba(0, 0, 0, 0) 99%);
}
.jobs__swiper__slide__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.jobs__swiper__slide__jobTitle {
  margin-top: 14px;
  line-height: 2.1rem;
  font-weight: 500;
  overflow: hidden;
  display: block;
  height: 4.2rem;
  -webkit-line-clamp: 2;
  display: box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
}
.jobs__swiper__slide__salary {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
.jobs__swiper__slide .country {
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 18px;
  height: 18px;
  color: #f37022;
}
.jobs__swiper__btns {
  position: absolute;
  width: 100%;
  top: 45%;
  left: 0;
  display: flex;
  justify-content: space-between;
  transform: translateY(-100%);
}
.jobs__swiper__btns__prev, .jobs__swiper__btns__next {
  border: 1px solid #cacaca;
  padding: 16px;
  font-size: 2rem;
  color: #cacaca;
  transition: all 0.2s ease-in-out;
}
.jobs__swiper__btns__prev:hover, .jobs__swiper__btns__next:hover {
  background-color: #963337;
}
@media (max-width: 485px) {
  .jobs__swiper__btns__prev, .jobs__swiper__btns__next {
    padding: 10px;
    font-size: 1.4rem;
  }
}
.jobs__swiper__btns__prev {
  margin-left: -80px;
}
@media (max-width: 485px) {
  .jobs__swiper__btns__prev {
    margin-left: -50px;
  }
}
.jobs__swiper__btns__next {
  margin-right: -80px;
}
@media (max-width: 485px) {
  .jobs__swiper__btns__next {
    margin-right: -50px;
  }
}

.services {
  background: transparent;
  position: relative;
  padding-bottom: 0px;
}
.services__counter__item:nth-child(5) {
  grid-row-start: 2;
  grid-column-start: 2;
}
@media (max-width: 1024px) {
  .services__counter__item:nth-child(5) {
    grid-column: initial;
    grid-row: initial;
  }
}
.services__counter__item:nth-child(6) {
  grid-row-start: 2;
  grid-column-start: 3;
}
@media (max-width: 1024px) {
  .services__counter__item:nth-child(6) {
    grid-column: initial;
    grid-row: initial;
  }
}
.services__heading {
  margin-bottom: 12px;
  margin-top: 63px;
}
.services__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 45px;
}
@media (max-width: 1024px) {
  .services__list {
    gap: 15px;
  }
}
@media (max-width: 850px) {
  .services__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 425px) {
  .services__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
.services__item {
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 52px 31px 107px 31px;
  transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1024px) {
  .services__item {
    padding: 30px 15px;
  }
}
.services__item iconify-icon {
  color: #fff;
  font-size: 4.2rem;
  margin-bottom: 30px;
}
.services__item__title {
  color: #272727;
  text-align: center;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 37.5px */
}
.services__item__desc {
  color: #51565e;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}
.services__counter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background: #043873;
}
.services__counter__abs {
  position: absolute;
  left: 0;
}
@media (max-width: 1024px) {
  .services__counter {
    top: auto;
    margin-top: 45px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .services__counter {
    grid-template-columns: repeat(1, 1fr);
  }
}
.services__counter__item {
  padding: 15px 20px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  animation-duration: 2s;
}
@media (max-width: 1024px) {
  .services__counter__item {
    padding: 45px;
  }
}
.services__counter__item .num {
  font-family: Bitter;
  color: #f5f5f5;
  font-family: Bitter;
  font-size: 8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
}
.services__counter__item .desc {
  color: #fff;
  font-family: Inter;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
  text-align: center;
}
.services__counter__item:last-child::after {
  display: none;
}

.footer {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 2fr;
  justify-content: space-between;
  background: rgb(33, 32, 32);
  grid-gap: 5%;
}
@media (max-width: 1023px) {
  .footer {
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
  }
}
@media (max-width: 767px) {
  .footer {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}
.footer__box {
  height: max-content;
  margin-bottom: 11px;
}
.footer__box__logo {
  max-width: 324px;
}
@media (max-width: 767px) {
  .footer__box:nth-child(3), .footer__box:nth-child(4) {
    grid-column: 1/3;
  }
}
.footer__box iframe {
  width: 100%;
  height: 278px;
}
@media (max-width: 1024px) {
  .footer__box iframe {
    height: 200px;
  }
}
.footer__box__title {
  text-align: left;
  text-transform: capitalize;
  color: var(--white, #fff);
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 30.8px */
  margin-bottom: 36px;
}
.footer__box__desc {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 30.6px */
  margin-bottom: 36px;
}
.footer__box__list {
  display: flex;
  flex-direction: column;
  grid-gap: 6px;
}
@media (max-width: 1024px) {
  .footer__box__list {
    gap: 2px;
  }
}
.footer__box__list__item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-gap: 10px;
  transition: all 0.2s ease-in-out;
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 30.6px */
}
.footer__box__list__item iconify-icon {
  padding-top: 5px;
  font-size: 2rem;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
.footer__box__list__item__icon {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 100%;
  border: 1px solid #0f0f0f;
  padding: 4px;
}
.footer__box__list__item__icon iconify-icon {
  padding: 0px;
  font-size: 2.3rem;
  color: #fff;
}
.footer__box__list__item a {
  display: flex;
  gap: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 200%;
  text-align: justify;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 30.6px */
}
.footer__box__list__item a iconify-icon {
  transition: all 0.2s ease-in-out;
}
.footer__box__list__item a:hover {
  color: #212121;
}
.footer__box__list__item a:hover iconify-icon {
  color: #212121 !important;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background: #212121;
  align-items: center;
  grid-gap: 0px;
  flex-wrap: wrap;
  padding-top: 18px;
  padding-bottom: 18px;
  grid-gap: 15px;
}
@media (max-width: 767px) {
  .footer__bottom {
    justify-content: center;
  }
}
.footer__bottom__copyright {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 28.8px */
  text-align: center;
  justify-content: center;
}
.footer__bottom__copyright .clargeText {
  font-size: 1.4rem;
  line-height: 15px;
  text-transform: none;
  color: #fff;
}

.clients__item iconify-icon {
  font-size: 85px;
  color: #f26927;
}
.clients__item__desc {
  margin-top: 30px;
  margin-bottom: 30px;
}
.clients__item__desc p {
  color: #272727;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
}
.clients__item__footer {
  border-top: 1px solid #272727;
  padding-top: 60px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.clients__item__footer__img {
  border-radius: 100%;
  overflow: hidden;
  min-width: 95px;
  height: 95px;
  object-fit: cover;
}
.clients__item__footer__person {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.clients__item__footer__person__title {
  color: #272727;
  font-family: Inter;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.clients__item__footer__person__label {
  color: #272727;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.32px;
}

.swiper-slide.hero {
  width: 1860px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.services__item:hover .img-hr {
  opacity: 1;
}

.services__item:hover .img-hr {
  opacity: 1;
}

.services__item:hover .services__item__title {
  color: #fff;
}

.services__item:hover .services__item__desc {
  color: #fff;
}

.services__item {
  margin-bottom: 86px;
}
.services__item .img-hr {
  position: absolute;
  width: 100%;
  height: auto;
  top: 76%;
  left: 0;
  z-index: -1;
  opacity: 0;
  border: 1px solid #1d1c1c 0;
  transform: translateY(-50%);
}

.bestway {
  background-size: cover;
}

.bestway__grid__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  max-width: 500px;
  position: absolute;
  height: 130px;
  transform: rotate(calc(60deg * var(--i)));
  transform-origin: 238px;
}

.bestway__grid__item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 100%;
  padding: 25px;
}
.bestway__grid__item__icon iconify-icon {
  font-size: 65px;
  color: #3861ad;
}

.bestway__grid__item__title {
  color: #fff;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.bestway__grid__item__desc {
  margin-top: 15px;
  color: #fff;
  text-align: justify;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170.25%; /* 27.24px */
}

.bestway__grid {
  position: relative;
}

.bestway {
  background-size: cover;
}

.bestway__grid__imgabs {
  position: absolute;
  border-radius: 100%;
  width: 40%;
  height: auto;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  border: 20px solid #f26927;
}
@media (max-width: 1406px) {
  .bestway__grid__imgabs {
    width: 48%;
  }
}
@media (max-width: 1023px) {
  .bestway__grid__imgabs {
    display: none;
  }
}

.rotate {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  width: 100%;
  cursor: pointer;
}
.rotate:hover .bestway__grid__item__icon {
  background-color: #f26927;
}
.rotate:hover .bestway__grid__item__icon iconify-icon {
  color: white;
}

.bestway__grid__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 90px 0px;
  position: relative;
  z-index: 1;
}
@media (max-width: 1406px) {
  .bestway__grid__wrapper {
    gap: 55px 0px;
  }
}
@media (max-width: 1023px) {
  .bestway__grid__wrapper {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1023px) {
  .bestway__grid__wrapper .rotate {
    padding: 0px !important;
    flex-direction: row !important;
  }
  .bestway__grid__wrapper .rotate * {
    text-align: left !important;
  }
}
.bestway__grid__wrapper .rotate:nth-child(1), .bestway__grid__wrapper .rotate:nth-child(5) {
  padding-right: 15%;
  flex-direction: row-reverse;
}
.bestway__grid__wrapper .rotate:nth-child(1) *, .bestway__grid__wrapper .rotate:nth-child(5) * {
  text-align: right;
}
.bestway__grid__wrapper .rotate:nth-child(2), .bestway__grid__wrapper .rotate:nth-child(6) {
  padding-left: 15%;
}
.bestway__grid__wrapper .rotate:nth-child(2) *, .bestway__grid__wrapper .rotate:nth-child(6) * {
  text-align: left;
}
.bestway__grid__wrapper .rotate:nth-child(3) {
  padding-right: 40%;
  flex-direction: row-reverse;
}
.bestway__grid__wrapper .rotate:nth-child(3) * {
  text-align: right;
}
.bestway__grid__wrapper .rotate:nth-child(4) {
  padding-left: 40%;
  text-align: left;
}
@media (max-width: 1023px) {
  .bestway__grid__wrapper .rotate:nth-child(1) {
    order: 6 !important;
  }
  .bestway__grid__wrapper .rotate:nth-child(2) {
    order: 0 !important;
  }
  .bestway__grid__wrapper .rotate:nth-child(3) {
    order: 5 !important;
  }
  .bestway__grid__wrapper .rotate:nth-child(4) {
    order: 1 !important;
  }
  .bestway__grid__wrapper .rotate:nth-child(5) {
    order: 4 !important;
  }
  .bestway__grid__wrapper .rotate:nth-child(6) {
    order: 3;
  }
}

.comonSectionTitle {
  color: #fff;
  font-family: Bitter;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  margin-bottom: 85px;
}

.bestway__grid__item__desc {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 85px;
}

.bestway__grid__item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 100%;
  padding: 25px;
  transition: all 0.3s ease-in-out;
}
.bestway__grid__item__icon iconify-icon {
  font-size: 65px;
  color: #3861ad;
}
@media (max-width: 1406px) {
  .bestway__grid__item__icon iconify-icon {
    font-size: 45px;
  }
}

.sectionHeader {
  position: relative;
  width: max-content;
  margin-bottom: 15px;
}
.sectionHeader--center {
  margin: 0 auto;
}
@media (max-width: 991px) {
  .sectionHeader {
    width: 100%;
  }
}
.sectionHeader__title {
  color: #3861ae;
  font-family: Bitter;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: relative;
  z-index: 2;
}
.sectionHeader__title--center {
  text-align: center;
}
.sectionHeader__title--lg {
  max-width: 590px;
}
.sectionHeader__decor {
  position: absolute;
  bottom: 6px;
  right: 0px;
  transform: translateX(30px);
  z-index: 1;
}
.sectionHeader__decor--center {
  left: 50%;
  transform: translateX(-50%);
}
.sectionHeader__decor--lg {
  transform: translateX(-50%) translateY(50%);
}
@media (max-width: 550px) {
  .sectionHeader__decor {
    display: none;
  }
}

.aboutUs__layout {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  gap: 38px;
}
.aboutUs__layout--mision {
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 1710px) {
  .aboutUs__layout {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 1023px) {
  .aboutUs__layout {
    display: flex;
    flex-direction: column-reverse;
  }
}

.aboutUs__imgContainer {
  width: 100%;
}
.aboutUs__imgContainer img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical !important;
  /* autoprefixer: off */
}
.truncate--3 {
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
}
.truncate--5 {
  -webkit-line-clamp: 5; /* number of lines to show */
  line-clamp: 5;
}
.truncate--1 {
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
}
.truncate--4 {
  -webkit-line-clamp: 4; /* number of lines to show */
  line-clamp: 4;
}
.truncate--7 {
  -webkit-line-clamp: 7; /* number of lines to show */
  line-clamp: 7;
}
@media (max-width: 1023px) {
  .truncate {
    display: unset;
  }
}

.services__list {
  gap: 36px;
}
@media (max-width: 1440px) {
  .services__list {
    gap: 20px;
  }
}
@media (max-width: 1023px) {
  .services__list {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 720px) {
  .services__list {
    grid-template-columns: 1fr;
  }
}
.services__list__card {
  box-shadow: 0px 6px 50px 5px rgba(6, 14, 26, 0.05);
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  padding: 0px 2px;
  background: #fff;
  box-shadow: 0px 2px 40px 5px rgba(6, 14, 26, 0.05);
  position: relative;
  cursor: pointer;
  height: auto;
  transition: all 0.7 ease-in-out;
}
.services__list__card:hover {
  background: linear-gradient(180deg, rgba(56, 97, 174, 0) 0%, #3861ae 100%), #fff;
}
.services__list__card:hover .services__list__card__bg {
  bottom: 0;
  opacity: 1;
}
.services__list__card:hover .services__list__card__title {
  color: #fff;
}
.services__list__card:hover .services__list__card__desc {
  color: #fff;
}
.services__list__card .bg-w {
  background-color: #fff;
  padding: 30px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
@media (max-width: 1440px) {
  .services__list__card .bg-w {
    padding: 15px;
    padding-top: 30px;
  }
}
.services__list__card iconify-icon {
  padding: 40px;
  font-size: 65px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1440px) {
  .services__list__card iconify-icon {
    padding: 25px;
    font-size: 45px;
  }
}
.services__list__card__bg {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  z-index: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  height: 60%;
}
.services__list__card__title {
  color: #272727;
  text-align: center;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  margin-top: 60px;
  margin-bottom: 12px;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1440px) {
  .services__list__card__title {
    margin-top: 30px;
  }
}
@media (max-width: 1160px) {
  .services__list__card__title {
    font-size: 22px;
  }
}
.services__list__card__desc {
  color: #51565e;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1440px) {
  .services__list__card__desc {
    padding-bottom: 30px;
  }
}
.services__list__card:nth-child(n+1) iconify-icon {
  background-color: #faeaea;
  color: #a52626;
}
.services__list__card:nth-child(n+2) iconify-icon {
  background-color: #f9f2e8;
  color: #9b6717;
}
.services__list__card:nth-child(n+3) iconify-icon {
  color: #107b75;
  background-color: #e7f6f5;
}
.services__list__card:nth-child(n+4) iconify-icon {
  color: #c231da;
  background-color: #f4e7f6;
}

.news__swiper {
  margin-top: 55px;
}
.news__swiper__card {
  border-radius: 13px;
  overflow: hidden;
  border: 1px solid rgba(39, 39, 39, 0.1);
  display: block;
}
.news__swiper__card:hover .news__swiper__card__img {
  filter: grayscale(1);
  cursor: pointer;
}
.news__swiper__card__img {
  transition: all 0.3s ease-in-out;
  width: 100%;
  min-height: 450px;
  height: 100%;
  object-fit: cover;
}
.news__swiper__card .content {
  padding: 35px;
}
@media (max-width: 1387px) {
  .news__swiper__card .content {
    padding: 12px;
  }
}
.news__swiper__card p {
  color: #272727;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}
.news__swiper__card__labels {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
  gap: 5px 25px;
}
@media (max-width: 1387px) {
  .news__swiper__card__labels {
    gap: 5px 8px;
  }
}
.news__swiper__card__labels__item {
  color: rgba(39, 39, 39, 0.7);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  display: flex;
  align-items: center;
  gap: 6px;
}
.news__swiper__card__labels__item iconify-icon {
  font-size: 18px;
}
.news__swiper__card__title {
  color: #272727;
  font-family: Inter;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 10px;
}
.news__swiper__card a.readmoreBtn {
  display: block;
  margin-top: 25px;
}

.clients__swiper {
  padding-top: 60px;
  padding-bottom: 40px;
}
.clients__swiper .swiper-slide {
  border-radius: 10px;
  background: #fff;
  box-shadow: 15px 10px 50px 0px rgba(0, 0, 0, 0.1);
  padding: 60px 40px;
  transition: all 0.3s ease-in-out;
}
.clients__swiper .swiper-slide:hover {
  background: radial-gradient(#3861AE 30%, #3861AE 25.85%, #67ADFF 72.65%);
  cursor: pointer;
}
.clients__swiper .swiper-slide:hover * {
  color: #fff;
}
.clients__swiper .swiper-slide:hover .clients__item__footer {
  border-color: #fff;
}

.footersection {
  background-size: cover;
}
.footersection .wrapper-grid {
  display: grid;
  grid-template-columns: 1fr 185px 185px 1fr;
  gap: 30px 100px;
  justify-content: space-between;
}
@media (max-width: 1650px) {
  .footersection .wrapper-grid {
    gap: 30px 50px;
  }
}
@media (max-width: 1439px) {
  .footersection .wrapper-grid {
    gap: 30px 30px;
  }
}
@media (max-width: 1024px) {
  .footersection .wrapper-grid {
    grid-template-columns: 1fr auto auto 1fr;
  }
}
@media (max-width: 1023px) {
  .footersection .wrapper-grid {
    grid-template-columns: 1fr 1fr;
  }
  .footersection .wrapper-grid .footersection__item:nth-child(1) {
    order: 1;
  }
  .footersection .wrapper-grid .footersection__item:nth-child(2) {
    order: 3;
  }
  .footersection .wrapper-grid .footersection__item:nth-child(3) {
    order: 4;
  }
  .footersection .wrapper-grid .footersection__item:nth-child(4) {
    order: 2;
  }
}
@media (max-width: 991px) {
  .footersection .wrapper-grid {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
.footersection__bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px 50px;
  padding-top: 35px;
  border-top: 2px solid #3861ae;
  margin-top: 40px;
  flex-wrap: wrap;
}
.footersection__bottom__item {
  color: rgba(255, 255, 255, 0.7);
  font-family: Inter;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}
.footersection__bottom__item:hover a {
  color: #3861ae;
}
.footersection__bottom__item a {
  color: rgba(255, 255, 255, 0.7);
  transition: all 0.3sec ease-in-out;
}
.footersection__item .logo {
  width: 100%;
  max-width: 300px;
  margin-bottom: 15px;
}
.footersection__item iframe {
  width: 100%;
  height: 275px;
}
.footersection__item__title {
  font-family: Inter;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  color: #fff;
  margin-bottom: 35px;
}
@media (max-width: 991px) {
  .footersection__item__title {
    margin-bottom: 15px;
  }
}
.footersection__item p {
  color: rgba(255, 255, 255, 0.7);
  font-family: Inter;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}
.footersection__item__links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footersection__item__links__item {
  color: rgba(255, 255, 255, 0.7);
  font-family: Inter;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  transition: all 0.3s ease-in-out;
}
.footersection__item__icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  margin-top: 35px;
}
.footersection__item__icons__link {
  padding: 13px;
  border: 1px solid #3861ae;
  color: #fff;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
.footersection__item__icons__link iconify-icon {
  transition: all 0.3s ease-in-out;
  font-size: 1.8rem;
}
.footersection__item__icons__link:hover {
  background-color: #3861ae;
  cursor: pointer;
}
.footersection__item__icons__link:hover iconify-icon {
  color: #fff;
}

.clients__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  align-items: center;
}
.clients__grid img {
  width: 100%;
  max-width: 300px;
}

.box .cSubText img {
  border: 18px solid #3a3b3b;
  height: max-content;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px;
}

.box .cSubText.gridder p {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 40px;
}
.box .cSubText.gridder p img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.sectionHeader__title {
  background: radial-gradient(#3861AE 10%, #3861AE 25.85%, #67ADFF 80.65%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

.footersection {
  background: none;
  background-color: rgba(39, 39, 39, 0.1);
}
.footersection * {
  color: #000;
}
.footersection .footersection__item p {
  color: #000;
  font-family: Inter;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}
.footersection .footersection__bottom__item a {
  color: #043873;
  transition: all 0.3sec ease-in-out;
}

.services__counter, .bestway {
  position: relative;
}
.services__counter::after, .bestway::after {
  content: "";
  width: 100%;
  height: 100%;
  background: radial-gradient(#3861AE 50%, #3861AE 25.85%, #67ADFF 72.65%);
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.3;
}
.services__counter__item, .bestway__item {
  position: relative;
  z-index: 5;
}

.bestway {
  position: relative;
}
.bestway::after {
  content: "";
  width: 100%;
  height: 100%;
  background: radial-gradient(#3861AE 65%, #3861AE 25.85%, #67ADFF 72.65%);
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.3;
}

.bestway__grid {
  position: relative;
  z-index: 1;
}

.comonSectionTitle {
  position: relative;
  z-index: 1;
}

.aboutUs--page {
  align-items: flex-start;
}
@media (max-width: 1440px) {
  .aboutUs--page {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}
@media (max-width: 768px) {
  .aboutUs--page {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.aboutUs--page::before {
  display: none;
}
.aboutUs--page::after {
  display: none;
}

.aboutUs--content {
  display: flex;
  justify-content: space-between;
  position: relative;
  gap: 65px;
}
@media (max-width: 1440px) {
  .aboutUs--content {
    padding-top: 20px;
    gap: 40px;
  }
}
@media (max-width: 1172px) {
  .aboutUs--content {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.aboutUs--pages {
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  padding-bottom: 0px;
}
@media (max-width: 768px) {
  .aboutUs--pages {
    padding-top: 70px;
  }
}
.aboutUs__visions {
  display: flex;
  gap: 34px;
  margin-bottom: 25px;
  margin-top: 20px;
}
@media (max-width: 682px) {
  .aboutUs__visions {
    flex-wrap: wrap;
  }
}
.aboutUs__mission h3 {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  padding: 10px 0px;
  color: #272727;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.aboutUs__mission iconify-icon {
  color: #3861ae;
  font-size: 64px;
  display: flex;
  align-items: center;
  margin-left: 32px;
  margin-bottom: 3px;
}
@media (max-width: 1440px) {
  .aboutUs__mission iconify-icon {
    font-size: 48px;
  }
}
.aboutUs__mission p {
  color: #51565e;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.aboutUs__img {
  z-index: 1;
  /* width: 456px; */
  width: 100%;
  position: relative;
  object-fit: cover;
  aspect-ratio: 3/2;
}
@media (max-width: 1172px) {
  .aboutUs__img {
    order: 1;
  }
}
@media (max-width: 1023px) {
  .aboutUs__img {
    width: 100%;
    height: auto;
    margin-bottom: 25px;
  }
}
.aboutUs__img img {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 5;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1023px) {
  .aboutUs__img img {
    height: auto;
  }
}
.aboutUs__content {
  position: relative;
  z-index: 100;
}
@media (max-width: 1172px) {
  .aboutUs__content {
    order: 2;
  }
}
.aboutUs__content__text {
  margin-top: 23px;
}
.aboutUs__content__text p {
  color: #51565e;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}
.aboutUs__content .cBtn {
  width: max-content;
}
.aboutUs__content .cBtn span {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  padding: 10px 35px;
  line-height: 157%;
  color: #ffffff;
}
.aboutUs__content .cBtn .greater iconify-icon {
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
}
.aboutUs__content__heading {
  color: #3861ae;
  font-family: Bitter;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.aboutUs__content__text {
  color: #51565e;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

.chooseUs--aboutPage {
  background-size: 100% 60%;
  background-repeat: no-repeat;
}
.chooseUs--aboutPage .services__item {
  background-color: #339692;
  cursor: pointer;
}
.chooseUs--aboutPage .services__item:hover {
  background-color: #8e3034;
}

.team {
  padding-top: 0px;
}
.team .cSectionText {
  margin: 0 auto;
  max-width: 900px;
}
.team .jobs__swiper__slide__jobTitle {
  color: #8e3034;
}

.jobs__swiper {
  margin-top: 25px;
}

.news--sec .swiper-slide {
  width: 458.333px;
  visibility: visible;
  animation-name: fadeInUp;
  margin-right: 32px;
  border: 1px solid rgba(92, 91, 91, 0.2705882353);
}
.news--sec .swiper-slide:hover {
  background-color: #3861ae;
}
.news--sec .swiper-slide:hover iconify-icon, .news--sec .swiper-slide:hover h2, .news--sec .swiper-slide:hover .news__swiper__desc, .news--sec .swiper-slide:hover h3, .news--sec .swiper-slide:hover p {
  color: #fff;
}
.news--sec h2 {
  color: #3861ae;
  text-align: center;
  font-family: Bitter;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 84px; /* 210% */
}
.news--sec .news--icon {
  border-radius: 10px;
  background: #fff;
  box-shadow: 15px 10px 50px 0px rgba(0, 0, 0, 0.1);
}
.news--sec iconify-icon {
  font-size: 86px;
  color: #f26927;
}
.news--sec .news__swiper__desc {
  color: #272727;
  margin-top: 32px;
  margin-bottom: 40px;
  position: relative;
  /* Paragraph/P2/Regular */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  letter-spacing: -0.36px;
}
.news--sec .news__swiper__desc::after {
  width: 100%;
  height: 1%;
  color: #272727;
  top: 0;
  content: "";
  position: absolute;
  left: 0;
  z-index: 5;
}
.news--sec .author {
  margin-top: 100px;
  gap: 32px;
}
.news--sec .author h3 {
  color: #272727;
  /* Paragraph/P1/Semibold */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 150% */
}
.news--sec .author p {
  color: #272727;
  /* Paragraph/P3/Regular */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: -0.32px;
}
.news--sec .author .news--p {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.news--sec .author img {
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 100%;
  width: 90px;
}

.insights .card .cBtn--orange {
  background-color: transparent;
  display: inline-block;
  margin-left: 38px;
  margin-bottom: 41px;
}
.insights .card .cBtn--orange .greater {
  color: #f26927;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  /* padding: 10px 0px; */
  display: inline-flex;
  padding: 13.5px 52px 13.5px 18px;
  align-items: center;
}
.insights .card .cBtn--orange .cBtn--orange:hover .greater {
  color: #3861ae;
}
.insights h2 {
  color: #3861ae;
  text-align: center;
  font-family: Bitter;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 52px */
  text-transform: capitalize;
}
.insights .card-body {
  margin: 28px 62px 25.7px 38px;
}
.insights .card-body h3 {
  color: #272727;
  /* Subheading / Base */
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 33px */
}
.insights .card-body .p-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 11px;
}
.insights .card-body .p-content iconify-icon {
  font-size: 16px;
  color: #a1a1a1;
}
.insights .card-body .p-content p {
  color: #272727;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}
.insights .card-body .card-text {
  color: #272727;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 23.8px */
  text-align: justify;
}

.aboutUs--margin {
  margin: 0 auto;
}

.aboutUs--head {
  position: relative;
  display: inline;
  width: max-content;
}

.overlay {
  position: absolute;
  bottom: 0;
  right: 0px;
}

.aboutUs__visions--grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.aboutUs__visions--grid .aboutUs__mission {
  border-radius: 15px;
  padding: 30px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 0.3s ease-in-out;
}
.aboutUs__visions--grid .aboutUs__mission:hover {
  cursor: pointer;
  background-color: rgba(56, 97, 174, 0.2);
}

.services__list--horizontal {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 767px) {
  .services__list--horizontal {
    grid-template-columns: 1fr;
  }
}
.services__list--horizontal .services__list__card:hover .bg-w {
  background-color: #3861ae;
}
.services__list--horizontal .services__list__card .bg-w {
  padding: 25px;
  transition: all 0.3s ease-in-out;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}
@media (max-width: 767px) {
  .services__list--horizontal .services__list__card .bg-w {
    flex-direction: column;
  }
  .services__list--horizontal .services__list__card .bg-w * {
    text-align: center !important;
  }
}
.services__list--horizontal .services__list__card .bg-w * {
  text-align: left;
}
.services__list--horizontal .services__list__card .bg-w .services__list__card__title {
  margin-top: 0px;
}
.services__list--horizontal .services__list__card .services__list__card__bg {
  display: none;
}

.aboutUs--visiions {
  padding-top: 0px;
}
@media (max-width: 991px) {
  .aboutUs--mision .sectionHeader__decor {
    display: none;
  }
  .aboutUs--visiions .sectionHeader__decor {
    display: none;
  }
}

.gallery--page .cSectionText {
  max-width: 900px;
  margin: 0 auto;
  color: #272727;
  /* Paragraph/P2/Regular */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  letter-spacing: -0.36px;
}
.gallery--page__list {
  margin-top: 45px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
@media (max-width: 1023px) {
  .gallery--page__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 680px) {
  .gallery--page__list {
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 400px) {
  .gallery--page__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
.gallery--page__list__item {
  position: relative;
}
.gallery--page__list__item img {
  width: 100%;
  height: 285.98px;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.gallery--page__list__item iconify-icon {
  opacity: 0;
  z-index: 10;
  position: absolute;
  color: #fff;
  font-size: 3.6rem;
  top: 50%;
  left: 50%;
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%) translateY(-50%);
}
.gallery--page__list__item::after {
  transition: all 0.3s ease-in-out;
  z-index: 7;
  position: absolute;
  width: 0%;
  height: 0%;
  content: "";
  left: 0;
  background: rgb(56, 97, 174);
  top: 0;
  mix-blend-mode: normal;
  opacity: 0.9;
  backdrop-filter: blur(31px);
}
.gallery--page__list__item:hover iconify-icon {
  opacity: 1;
}
.gallery--page__list__item:hover::after {
  width: 100%;
  height: 100%;
}
.gallery--page__list__item:hover img {
  filter: blur(1px);
}

.contactPage {
  background-color: #fff;
  display: grid;
  position: relative;
  place-items: center;
}
.contactPage .circle {
  width: 20px;
  height: 20px;
  border: 1px solid #c9cfd1;
  border-radius: 100%;
  position: absolute;
  bottom: 0;
  z-index: 20;
  animation: goUp 10s infinite;
  opacity: 0;
  left: 7%;
}
@media (max-width: 767px) {
  .contactPage .circle {
    display: none;
  }
}
.contactPage .circle--1 {
  left: 0;
  animation: goUp 15s infinite;
}
.contactPage .circle--3 {
  right: 10%;
  left: auto;
  animation: goUp 12s infinite;
}
.contactPage .circle--2 {
  right: 20%;
  left: auto;
  animation: goUp 15s infinite;
}
.contactPage .circle--4 {
  right: 60%;
  left: auto;
  animation: goUp 6s infinite;
}
.contactPage .circle--5 {
  right: 10%;
  left: auto;
  animation: goUp 12s infinite;
}
.contactPage .circle--6 {
  right: 40%;
  left: auto;
  animation: goUp 12s infinite;
}
.contactPage__content {
  background-color: #fff;
  width: 100%;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px;
  justify-content: center;
  box-shadow: 15px 10px 50px 0px rgba(0, 0, 0, 0.1);
  padding: 60px 40px;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1023px) {
  .contactPage__content {
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }
}
@media (max-width: 500px) {
  .contactPage__content {
    padding: 18px;
  }
}
.contactPage__content h2 {
  width: 100%;
  text-align: left;
  margin-bottom: 15px;
  color: #3861ae;
  font-family: Bitter;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.contactPage__content__form {
  display: flex;
  width: 100%;
  flex-direction: column;
  grid-gap: 20px;
  align-items: flex-end;
}
.contactPage__content__form--grid2 {
  flex-direction: row;
  flex-wrap: wrap;
  grid-gap: 0px;
}
.contactPage__content__form--grid2 .form-group {
  width: 50% !important;
  padding: 10px 5px;
}
@media (max-width: 767px) {
  .contactPage__content__form--grid2 .form-group {
    width: 100% !important;
  }
}
.contactPage__content__form--grid2 .form-group:nth-last-child(2) {
  width: 100% !important;
}
.contactPage__content__form--grid2 .cBtn {
  margin-top: 20px;
  margin-left: auto;
}
.contactPage__content__form .form-group {
  width: 100%;
}
.contactPage__content__form .inp,
.contactPage__content__form input,
.contactPage__content__form textarea,
.contactPage__content__form select {
  width: 100%;
  padding: 10px 15px;
  border-radius: 0px;
  line-height: 20px;
  font-size: 1.4rem;
  border: 1px solid rgba(149, 157, 165, 0.5);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  resize: none;
  color: rgb(88, 88, 88);
}
.contactPage__content__form .inp option,
.contactPage__content__form input option,
.contactPage__content__form textarea option,
.contactPage__content__form select option {
  padding: 15px;
  border-radius: 0px;
}
.contactPage__content__form textarea {
  height: 160px;
  padding: 20px;
}
.contactPage__content__form .cBtn {
  width: 120px;
}
.contactPage__content__form .cBtn span {
  display: inline;
  font-style: 1.6rem;
}
@media (max-width: 767px) {
  .contactPage__content__form .cBtn {
    width: 250px !important;
    margin: 0 auto;
  }
}
.contactPage__content__img {
  padding: 50px;
  height: 100%;
}
.contactPage__content__img__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contactPage__content__img__list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: #f26927;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 30.6px */
}
.contactPage__content__img__list__item iconify-icon {
  font-size: 4rem;
  border-radius: 8px;
  background: #3861ae;
  color: #fff;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.contactPage__content__img__list__item iconify-icon:hover {
  background-color: #3861ae;
}
.contactPage__content__img__list__item a {
  text-align: center;
  color: #3861ae;
}
.contactPage__content__img__list__item--social {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}
.contactPage__content__img__list__item--social iconify-icon {
  font-size: 2rem;
  background-color: #3861ae;
  border-radius: 100%;
  padding: 10px;
  color: #fff;
}

.footer__box__list__item__icon {
  border: none;
}

.contactPage__content__img__list__item iconify-icon {
  font-size: 4rem;
  border-radius: 8px;
  color: #3861ae;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  background-color: transparent;
}
.contactPage__content__img__list__item .footersection__item__icons__link {
  border: 2px solid rgb(56, 97, 174);
}

.contactPage__content__img__list__item--social iconify-icon {
  padding: 0px;
}
.contactPage__content__img__list__item--social .footersection__item__icons__link {
  border: none;
}

.banner h3 {
  color: #ffffff;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.contactPage__content__img__list__item .a-col {
  color: #51565e;
}
.contactPage__content__img__list__item .a-col:hover {
  color: #000000;
}

.services .overlay {
  top: 16%;
  left: 65%;
  position: absolute;
  z-index: 5;
  transform: translateY(63%);
}

.services--page {
  background-color: transparent;
}
.services--page .cSectionText {
  max-width: 900px;
  margin: 0 auto;
}
.services--page__title {
  color: #963337;
}
.services--page__desc {
  color: #6a6a6a;
}
.services--page .vehicle-detail__carousel-item-left__expand-btn::before {
  color: #963337;
}
.services--page:hover {
  background-color: #963337;
}
.services--page:hover > * {
  color: #fff !important;
}
.services--page:hover .vehicle-detail__carousel-item-left__expand-btn::before {
  color: #fff;
}

.services__item {
  border: 1px solid #e9e9e9;
  position: relative;
}
.services__item iconify-icon {
  color: #963337;
  font-size: 70px;
  border: 1px solid transparent;
  background-color: rgba(203, 41, 41, 0.1019607843);
  border-radius: 100%;
  padding: 60px;
}
.services__item:nth-child(2) iconify-icon {
  color: #9b6717;
  background-color: rgba(155, 103, 23, 0.1019607843);
}
.services__item:nth-child(3) iconify-icon {
  color: #107b75;
  background-color: rgba(16, 123, 117, 0.1019607843);
}
.services__item:nth-child(4) iconify-icon {
  color: #c231da;
  background-color: rgba(194, 49, 218, 0.1019607843);
}

.jobseeker__list {
  margin: 0 auto;
  max-width: 1150px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.jobseeker__list__item {
  background: #FFFFFF;
  box-shadow: 0px 2px 10px 4px rgba(0, 0, 0, 0.06);
}
.jobseeker__list__item__header {
  background: #963337;
  padding: 13px 40px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 157%;
  color: #FFFFFF;
}
.jobseeker__list__item__body {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  padding: 25px 40px;
}
@media (max-width: 767px) {
  .jobseeker__list__item__body {
    flex-direction: column;
    align-items: flex-start;
  }
}
.jobseeker__list__item__body__col {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 157%;
  color: #6A6A6A;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.jobseeker__list__item__body__col__listItem {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 157%;
  color: #313131;
  display: flex;
  align-items: center;
  gap: 20px;
}
.jobseeker__list__item__body__col__listItem iconify-icon {
  font-size: 2.2rem;
  color: #313131;
}
.jobseeker .cBtn {
  margin-left: auto;
  margin-right: 0px;
  width: max-content;
}

.jobSeekerVacancyList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 45px 25px;
}
@media (max-width: 1440px) {
  .jobSeekerVacancyList {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1024px) {
  .jobSeekerVacancyList {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .jobSeekerVacancyList {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 425px) {
  .jobSeekerVacancyList {
    grid-template-columns: repeat(1, 1fr);
  }
}
.jobSeekerVacancyList .jobs__swiper__slide {
  min-width: 100%;
  margin-right: 0px;
}
.jobSeekerVacancyList .jobs__swiper__slide .img__container {
  height: 350px;
}
.jobSeekerVacancyList .jobs__swiper__slide__img {
  object-fit: cover;
}

.aboutUs__content__list {
  font-size: 16px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.aboutUs__content__list__item {
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
}
.aboutUs__content__list__item iconify-icon {
  background-color: #3861ae;
  color: #fff;
  font-size: 12px;
}

.jobDetail {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 25px;
}
.jobDetail .cBtn {
  width: max-content;
  margin-right: 0px;
  margin-left: auto;
}
.jobDetail__main {
  padding: 30px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.jobDetail__main__mainImg {
  width: 100%;
  height: 450px;
  object-fit: cover;
  margin-bottom: 20px;
}
.jobDetail__main__date {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.6rem;
  justify-content: space-between;
  margin-bottom: 10px;
}
.jobDetail__main__date__item {
  display: flex;
  gap: 10px;
  align-items: center;
}
.jobDetail__main__date iconify-icon {
  font-size: 2.1rem;
}
.jobDetail__main__desc {
  margin-bottom: 20px;
}
.jobDetail__main__title {
  color: #963337;
  text-align: left;
  padding-bottom: 8px;
  border-bottom: 2px solid #963337;
  margin-bottom: 10px;
}
.jobDetail__main__subTitle {
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: 600;
}
.jobDetail__main__jobDetails {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 30px;
}
.jobDetail__main__jobDetails__point {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 157%;
  color: #313131;
}
.jobDetail__side {
  height: max-content;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 30px;
}
.jobDetail__side__title {
  color: #963337;
  text-align: left;
  font-size: 2.4rem;
  margin-bottom: 20px;
}
.jobDetail__side__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.jobDetail__side__list__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #963337;
}
.jobDetail__side__list__item__img {
  width: 100px;
  object-fit: contain;
  height: 100px;
}
.jobDetail__side__list__item__title {
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 19px;
  color: #4e4e4e;
  margin-bottom: 10px;
}
.jobDetail__side__list__item__desc {
  margin-bottom: 16px;
}
.jobDetail__side__list__item .cBtn {
  margin-left: 0px;
  margin-right: auto;
}

.demandsDetailPage {
  background-color: rgba(56, 97, 174, 0.1);
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}
@media (max-width: 768px) {
  .demandsDetailPage {
    grid-template-columns: 1fr;
  }
}
.demandsDetailPage__main {
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0px 1px 4px rgba(7, 153, 152, 0.25);
}
@media (max-width: 768px) {
  .demandsDetailPage__main {
    padding: 25px;
  }
}
.demandsDetailPage__main .cBtn {
  display: inline-block;
  margin-left: auto;
  margin-right: 0px;
}
.demandsDetailPage__main__locationDate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 25px;
}
.demandsDetailPage__main__locationDate__item {
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 160%;
  text-align: justify;
  color: #464646;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 5px;
}
.demandsDetailPage__main__locationDate__item iconify-icon {
  color: #464646;
  font-size: 1.8rem;
}
.demandsDetailPage__main__img {
  margin-bottom: 15px;
}
.demandsDetailPage__main__img img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
}
.demandsDetailPage__main__jobTitle {
  font-style: normal;
  font-weight: 500;
  font-size: 2.6rem;
  line-height: 39px;
  color: #313131;
  padding: 5px 15px;
  border-radius: 10px;
  text-transform: capitalize;
  background-color: rgba(56, 97, 174, 0.1);
  margin-bottom: 35px;
}
.demandsDetailPage__main__descHeader {
  font-size: 1.7rem;
  line-height: 30px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.demandsDetailPage__main__desc {
  color: rgb(70, 70, 70);
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 160%;
  text-align: justify;
  margin-bottom: 35px;
}
.demandsDetailPage__main .aboutUs__content__list {
  gap: 8px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.demandsDetailPage__main .aboutUs__content__list iconify-icon {
  padding: 3px;
}
.demandsDetailPage__main .aboutUs__content__list__item {
  gap: 10px;
}
.demandsDetailPage__side {
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0px 1px 4px rgba(7, 153, 152, 0.25);
  height: max-content;
}
@media (max-width: 768px) {
  .demandsDetailPage__side {
    padding: 25px;
  }
}
.demandsDetailPage__side .demandsDetailPage__main__descHeader {
  margin-bottom: 20px;
}
.demandsDetailPage__side__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.demandsDetailPage__side__list__item {
  display: grid;
  grid-template-columns: 8vw 1fr;
  gap: 20px;
}
@media (max-width: 1024px) {
  .demandsDetailPage__side__list__item {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 768px) {
  .demandsDetailPage__side__list__item {
    grid-template-columns: 100px 1fr;
  }
}
.demandsDetailPage__side__list__item img {
  width: 100%;
  border-radius: 10px;
  height: 100px;
  object-fit: cover;
}
@media (max-width: 768px) {
  .demandsDetailPage__side__list__item img {
    height: 80px;
  }
}
.demandsDetailPage__side__list__item__desc__head {
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 160%;
  text-align: justify;
  color: #464646;
  text-transform: capitalize;
}
.demandsDetailPage__side__list__item__desc__body {
  margin-top: 6px;
  font-size: 1.4rem;
  line-height: 120%;
}
.demandsDetailPage__side__list__item__desc .viewBlock {
  display: flex;
  margin-top: 10px;
  justify-content: flex-end;
}
.demandsDetailPage__side__list__item__desc .cBtn {
  display: inline-flex;
}
.demandsDetailPage__side__list__item__desc .cBtn span {
  padding: 5px 18px;
}

.recrutmentPage {
  display: flex;
  flex-direction: column;
  gap: 33px;
}
.recrutmentPage__item {
  display: grid;
  grid-template-columns: 1fr 72px 1fr;
  align-items: center;
}
.recrutmentPage__item__mainImg {
  display: flex;
  justify-content: flex-end;
  padding-right: 60px;
}
.recrutmentPage__item__mainImg img {
  max-width: 330px;
}
.recrutmentPage__item__bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.recrutmentPage__item__bar img {
  width: 12px;
  height: auto;
}
.recrutmentPage__item__bar .sectionNumber {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: #FFFFFF;
  border: 1px solid #3861ae;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 2rem;
  line-height: 157%;
  text-align: justify;
  color: #3861ae;
}
.recrutmentPage__item__about__title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 1.6rem;
  line-height: 157%;
  text-align: justify;
  color: #3861ae;
  margin-bottom: 10px;
}
.recrutmentPage__item__about__desc {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 155%;
  text-align: justify;
  color: #6A6A6A;
}
.recrutmentPage__item__about__points {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.recrutmentPage__item__about__point {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.recrutmentPage__item__about__point iconify-icon {
  font-size: 3rem;
  color: #6A6A6A;
}
.recrutmentPage__item:nth-child(even) .recrutmentPage__item__mainImg {
  grid-column: 3/4;
  grid-row: 1/2;
  justify-content: flex-start;
  padding-right: 0px;
  padding-left: 60px;
}
@media (max-width: 768px) {
  .recrutmentPage__item:nth-child(even) .recrutmentPage__item__mainImg {
    padding-left: 0px;
  }
}
.recrutmentPage__item:nth-child(even) .recrutmentPage__item__about {
  grid-column: 1/2;
  grid-row: 1/2;
}
.recrutmentPage__item:nth-child(even) .recrutmentPage__item__about__title {
  text-align: right;
}
@media (max-width: 768px) {
  .recrutmentPage__item:nth-child(even) .recrutmentPage__item__about__title {
    text-align: left;
  }
}
.recrutmentPage__item:nth-child(even) .recrutmentPage__item__bar {
  grid-column: 2/3;
  grid-row: 1/2;
}
@media (max-width: 768px) {
  .recrutmentPage__item {
    display: block;
  }
  .recrutmentPage__item .recrutmentPage__item__bar {
    display: none;
  }
  .recrutmentPage__item .recrutmentPage__item__mainImg {
    margin-bottom: 25px;
    display: block;
  }
  .recrutmentPage__item .recrutmentPage__item__mainImg img {
    width: 100%;
  }
}