.aboutUs {
  &--page {
    align-items: flex-start;
    @media (max-width: 1440px) {
      @include sectionpadding1440;
    }
    @media (max-width: 768px) {
      @include sectionpadding768;
    }
    &::before {
      display: none;
    }
    &::after {
      display: none;
    }
  }
}
.aboutUs {
  &--content {
    display: flex;
    justify-content: space-between;
    position: relative;
    gap: 65px;

    @media (max-width: 1440px) {
      padding-top: 20px;
      gap: 40px;
    }

    @media (max-width: 1172px) {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
  &--pages {
    display: flex;
    flex-direction: column;
    padding-top: 90px;
    padding-bottom: 0px;
    @media (max-width: 768px) {
      padding-top: 70px;
    }
  }

  &__visions {
    display: flex;
    gap: 34px;
    margin-bottom: 25px;
    margin-top: 20px;
    @media (max-width: 682px) {
      flex-wrap: wrap;
    }
  }
  &__mission {
    h3 {
      display: flex;
      align-items: flex-start;
      justify-content: start;
      padding: 10px 0px;

      color: #272727;
      font-family: Inter;
      font-size: 25px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    iconify-icon {
      color: #3861ae;
      font-size: 64px;
      display: flex;
      align-items: center;
      margin-left: 32px;
      margin-bottom: 3px;

      @media (max-width: 1440px) {
        font-size: 48px;
      }
    }
    p {
      color: #51565e;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
    }
  }

  &__img {
    z-index: 1;
    /* width: 456px; */
    width: 100%;
    position: relative;
    object-fit: cover;
    aspect-ratio: 3/2;
    @media (max-width: 1172px) {
      order: 1;
    }

    @media (max-width: 1023px) {
      width: 100%;
      height: auto;
      margin-bottom: 25px;
    }
    img {
      position: relative;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 5;
      height: 100%;
      object-fit: cover;

      @media (max-width: 1023px) {
        height: auto;
      }
    }
  }
  &__content {
    position: relative;
    z-index: 100;
    @media (max-width: 1172px) {
      order: 2;
    }
    &__text {
      margin-top: 23px;
      p {
        color: #51565e;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 25.6px */
      }
    }
    .cBtn {
      width: max-content;
      span {
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        padding: 10px 35px;
        line-height: 157%;
        color: #ffffff;
      }
      .greater {
        iconify-icon {
          display: flex;
          padding: 5px;
          justify-content: center;
          align-items: center;
        }
      }
    }

    &__heading {
      color: #3861ae;
      font-family: Bitter;
      font-size: 40px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    &__text {
      color: #51565e;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 25.6px */
    }
  }
}

.chooseUs--aboutPage {
  background-size: 100% 60%;
  background-repeat: no-repeat;
  .services__item {
    background-color: #339692;
    cursor: pointer;
    &:hover {
      background-color: #8e3034;
    }
  }
}

.team {
  padding-top: 0px;
  .cSectionText {
    margin: 0 auto;
    max-width: 900px;
  }
  .jobs__swiper__slide__jobTitle {
    color: #8e3034;
  }
}
.jobs__swiper {
  margin-top: 25px;
}
.news--sec {
  .swiper-slide {
    width: 458.333px;
    visibility: visible;
    animation-name: fadeInUp;
    margin-right: 32px;
    border: 1px solid #5c5b5b45;
    &:hover {
      background-color: #3861ae;
    }
    &:hover iconify-icon,
    &:hover h2,
    &:hover .news__swiper__desc,
    &:hover h3,
    &:hover p {
      color: #fff;
    }
  }
  h2 {
    color: #3861ae;
    text-align: center;
    font-family: Bitter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 84px; /* 210% */
  }
  .news--icon {
    border-radius: 10px;
    background: #fff;
    box-shadow: 15px 10px 50px 0px rgba(0, 0, 0, 0.1);
  }
  iconify-icon {
    font-size: 86px;
    color: #f26927;
  }
  .news__swiper__desc {
    color: #272727;
    margin-top: 32px;
    margin-bottom: 40px;
    position: relative;
    /* Paragraph/P2/Regular */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    letter-spacing: -0.36px;
  }
  .news__swiper__desc::after {
    width: 100%;
    height: 1%;
    color: #272727;
    top: 0;
    content: "";
    position: absolute;
    left: 0;
    z-index: 5;
  }

  .author {
    margin-top: 100px;
    gap: 32px;

    h3 {
      color: #272727;

      /* Paragraph/P1/Semibold */
      font-family: Inter;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 36px; /* 150% */
    }
    p {
      color: #272727;

      /* Paragraph/P3/Regular */
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 125% */
      letter-spacing: -0.32px;
    }
    .news--p {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
    img {
      vertical-align: middle;
      border: 1px solid transparent;
      border-radius: 100%;
      width: 90px;
    }
  }
}
.insights {
  .card {
    .cBtn--orange {
      background-color: transparent;
      display: inline-block;
      margin-left: 38px;
      margin-bottom: 41px;
      .greater {
        color: #f26927;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 170%;
        /* padding: 10px 0px; */
        display: inline-flex;
        padding: 13.5px 52px 13.5px 18px;
        align-items: center;
      }
      .cBtn--orange:hover .greater {
        color: #3861ae;
      }
    }
  }
  h2 {
    color: #3861ae;
    text-align: center;
    font-family: Bitter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 52px */
    text-transform: capitalize;
  }
  .card-body {
    margin: 28px 62px 25.7px 38px;
    h3 {
      color: #272727;

      /* Subheading / Base */
      font-family: Inter;
      font-size: 22px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 33px */
    }

    .p-content {
      display: flex;
      justify-content: space-between;
      margin-bottom: 11px;
      iconify-icon {
        font-size: 16px;
        color: #a1a1a1;
      }
      p {
        color: #272727;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 25.6px */
      }
    }
    .card-text {
      color: #272727;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 170%; /* 23.8px */
      text-align: justify;
    }
  }
}
.aboutUs--margin {
  margin: 0 auto;
}
.aboutUs--head {
  position: relative;
  display: inline;
  width: max-content;
}

.overlay {
  position: absolute;
  bottom: 0;
  right: 0px;
}

.aboutUs__visions--grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  .aboutUs__mission {
    border-radius: 15px;
    padding: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all 0.3s ease-in-out;
    &:hover {
      cursor: pointer;
      background-color: rgba(#3861ae, 0.2);
    }
  }
}

.services__list--horizontal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }
  .services__list__card {
    &:hover {
      .bg-w {
        background-color: #3861ae;
      }
    }
    .bg-w {
      padding: 25px;
      transition: all 0.3s ease-in-out;
      flex-direction: row;
      gap: 30px;
      align-items: center;

      @media (max-width: 767px) {
        flex-direction: column;
        * {
          text-align: center !important;
        }
      }
      * {
        text-align: left;
      }
      .services__list__card__title {
        margin-top: 0px;
      }
    }
    .services__list__card__bg {
      display: none;
    }
  }
}
.aboutUs {
  &--visiions {
    padding-top: 0px;
  }
  @media (max-width: 991px) {
    &--mision {
      .sectionHeader__decor {
        display: none;
      }
    }
    &--visiions {
      .sectionHeader__decor {
        display: none;
      }
    }
  }
}
