$red: #963337;
$dark-blue: #3861ae;

.cTitle {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 157%;
  text-align: center;
  &--white {
    color: #fff;

    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 37.5px */
  }
  &--black {
    color: #272727;
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 37.5px */
  }

  &--brown {
    color: #963337;
  }
  &--blue {
    color: #3861ae;

    text-align: center;
    font-family: Bitter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 52px */
  }
}

.cSectionText {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 157%;
  color: #ffffff;
  text-align: center;
  &--white {
    color: #fff;
  }
  &--black {
    color: #6a6a6a;
  }
}

@keyframes goUp {
  0% {
    top: 70%;
    transform: scale(1);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    top: 0;
    transform: scale(2.5);
    opacity: 0;
  }
}

.cBtn {
  border-radius: 0px;
  display: flex;
  font-family: inherit;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease-in-out;
  &--blue {
    background: #3861ae;
  }
  &--orange {
    border-radius: 8px;
    background: #f26927;
  }

  &:hover {
    background: #3861ae;
    span {
      animation: btnTransform 0.5s linear;
    }
  }
  span,
  &__span {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 16px;
    color: #ffffff;
    padding: 10px 36px;
  }
  &--white {
    background-color: #fff;
    span {
      color: #009f4f;
    }
    &:hover {
      span {
        color: #fff;
      }
    }
  }
  @keyframes btnTransform {
    0% {
      transform: translateX(0%);
      opacity: 1;
    }

    20% {
      transform: translateX(-50%);
      opacity: 0;
    }

    60% {
      transform: translateX(-100%);
      opacity: 0;
    }

    80% {
      transform: translateX(50%);
      opacity: 0;
    }

    100% {
      transform: translateX(0%);
    }
  }
}

.cSubText {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 2em;
  color: #888888;
  font-weight: 400;
  text-align: justify;
  span {
    font-weight: 600;
  }
  &--white {
    color: #fff;
  }
}

.clargeText {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 6.4rem;
  line-height: 75px;
  text-transform: uppercase;
  color: #f37022;
}

.banner {
  position: relative;
  background-color: #009f4f;
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  &::after {
    background: rgba(#3861ae, 0.5);
    mix-blend-mode: normal;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
  }

  &__content {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 100;
    transform: translateX(-50%) translateY(-50%);
    justify-content: center;
    text-align: center;
    display: flex;
    grid-gap: 0px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 157%;
    color: #ffffff;
  }
  h3 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 157%;
    color: #ffffff;
    text-transform: capitalize;
  }
  &__title {
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 38px;
    text-transform: uppercase;
    color: #ffffff;
  }
  &__breadCrumb {
    padding: 14px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    align-items: center;
    font-size: 1.4rem;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    line-height: 157%;
    background: #3861ae;
    mix-blend-mode: normal;
    color: #fff;
    iconify-icon {
      font-size: 2.4rem;
    }
    a {
      color: #fff;

      /* Paragraph/P2/Regular */
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px; /* 166.667% */
      letter-spacing: -0.36px;
      text-transform: capitalize;
    }
  }
}

.readmoreBtn {
  color: #f26927;
  font-family: Inter;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.36px;
  transition: all 0.1s ease-in-out;
}

.requiredDocs__desc {
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  margin-top: 30px;
}
