.contactPage {
  background-color: #fff;
  display: grid;
  position: relative;
  place-items: center;
  .circle {
    width: 20px;
    height: 20px;
    border: 1px solid #c9cfd1;
    // background-color:#6B1310;
    border-radius: 100%;
    position: absolute;
    bottom: 0;
    z-index: 20;
    animation: goUp 10s infinite;
    opacity: 0;
    left: 7%;

    @media (max-width: 767px) {
      display: none;
    }
    &--1 {
      left: 0;
      animation: goUp 15s infinite;
    }
    &--3 {
      right: 10%;
      left: auto;
      animation: goUp 12s infinite;
    }

    &--2 {
      right: 20%;
      left: auto;
      animation: goUp 15s infinite;
    }
    &--4 {
      right: 60%;
      left: auto;
      animation: goUp 6s infinite;
    }

    &--5 {
      right: 10%;
      left: auto;
      animation: goUp 12s infinite;
    }
    &--6 {
      right: 40%;
      left: auto;
      animation: goUp 12s infinite;
    }
  }
  &__content {
    background-color: #fff;
    width: 100%;
    border-radius: 20px;
    // padding: 10%;
    // box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
    justify-content: center;
    box-shadow: 15px 10px 50px 0px rgba(0, 0, 0, 0.1);
    padding: 60px 40px;
    transition: all 0.3s ease-in-out;
    @media (max-width: 1023px) {
      grid-template-columns: 1fr;
      grid-gap: 40px;
    }
    @media (max-width: 500px) {
      padding: 18px;
    }

    h2 {
      width: 100%;
      text-align: left;
      margin-bottom: 15px;
      color: #3861ae;
      font-family: Bitter;
      font-size: 40px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    &__form {
      display: flex;
      width: 100%;
      flex-direction: column;
      grid-gap: 20px;
      align-items: flex-end;

      &--grid2 {
        flex-direction: row;
        flex-wrap: wrap;
        grid-gap: 0px;
        .form-group {
          width: 50% !important;
          padding: 10px 5px;

          @media (max-width: 767px) {
            width: 100% !important;
          }
          &:nth-last-child(2) {
            width: 100% !important;
          }
        }
        .cBtn {
          margin-top: 20px;
          margin-left: auto;
        }
      }
      .form-group {
        width: 100%;
      }
      .inp,
      input,
      textarea,
      select {
        width: 100%;
        padding: 10px 15px;
        border-radius: 0px;
        line-height: 20px;
        font-size: 1.4rem;
        border: 1px solid rgba(149, 157, 165, 0.5);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        resize: none;
        color: rgb(88, 88, 88);
        option {
          padding: 15px;
          border-radius: 0px;
        }
      }
      textarea {
        height: 160px;
        padding: 20px;
      }
      .cBtn {
        width: 120px;
        span {
          display: inline;
          font-style: 1.6rem;
        }
        @media (max-width: 767px) {
          width: 250px !important;
          margin: 0 auto;
        }
      }
    }

    &__img {
      padding: 50px;
      height: 100%;
      &__list {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &__item {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
          color: #f26927;
          font-family: Inter;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 170%; /* 30.6px */
          iconify-icon {
            font-size: 4rem;

            border-radius: 8px;
            background: #3861ae;

            color: #fff;
            transition: all 0.2s ease-in-out;
            cursor: pointer;
            &:hover {
              background-color: #3861ae;
            }
          }
          a {
            text-align: center;
            color: #3861ae;
          }
          &--social {
            display: flex;
            flex-direction: row;
            text-align: center;
            justify-content: center;
            iconify-icon {
              font-size: 2rem;
              background-color: #3861ae;
              border-radius: 100%;
              padding: 10px;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
.footer__box__list__item__icon {
  border: none;
}
.contactPage__content__img__list__item {
  iconify-icon {
    font-size: 4rem;
    border-radius: 8px;

    color: #3861ae;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    background-color: transparent;
  }
  .footersection__item__icons__link {
    border: 2px solid rgb(56, 97, 174);
  }
}
.contactPage__content__img__list__item--social {
  iconify-icon {
    padding: 0px;
  }

  .footersection__item__icons__link {
    border: none;
  }
}

.banner h3 {
  color: #ffffff;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.contactPage__content__img__list__item {
  .a-col {
    color: #51565e;
  }
  .a-col:hover {
    color: #000000;
  }
}
