.gallery--page {
  .cSectionText {
    max-width: 900px;
    margin: 0 auto;
    color: #272727;

    /* Paragraph/P2/Regular */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    letter-spacing: -0.36px;
  }
  &__list {
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    @media (max-width: 1023px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 680px) {
      gap: 15px;
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 400px) {
      grid-template-columns: repeat(1, 1fr);
    }
    &__item {
      position: relative;
      img {
        width: 100%;
        height: 285.98px;
        object-fit: cover;
        transition: all 0.3s ease-in-out;
      }
      iconify-icon {
        opacity: 0;
        z-index: 10;
        position: absolute;
        color: #fff;
        font-size: 3.6rem;
        top: 50%;
        left: 50%;
        transition: all 0.3s ease-in-out;
        transform: translateX(-50%) translateY(-50%);
      }
      &::after {
        transition: all 0.3s ease-in-out;
        z-index: 7;
        position: absolute;
        width: 0%;
        height: 0%;
        content: "";
        left: 0;
        background: rgb(56, 97, 174);
        top: 0;
        mix-blend-mode: normal;
        opacity: 0.9;
        backdrop-filter: blur(31px);
      }
      &:hover {
        iconify-icon {
          opacity: 1;
        }
        &::after {
          width: 100%;
          height: 100%;
        }
        img {
          filter: blur(1px);
        }
      }
    }
  }
}
