.topbar {
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #fff;
  background: #3861ae;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  grid-gap: 8px 60px;
  @media (max-width: 767px) {
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }

  .fixed {
    padding-top: 0px;
    padding-bottom: 0px;
    position: absolute;
  }

  &__details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-column-gap: 19.5px;
    grid-row-gap: 8px;
    align-items: center;
    justify-content: center;
    animation-delay: 0.6s;

    &__item {
      display: flex;
      align-items: center;
      grid-column-gap: 4.8px;
      color: #fff;
      text-align: right;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 180%; /* 25.2px */
      letter-spacing: 0.5px;
      a {
        color: #fff;
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 157%;
      }
    }
  }
  &__btns {
    display: flex;
    flex-direction: row;
    grid-gap: 10px;
  }
  iconify-icon {
    font-size: 1.8rem;
  }
}
.navbar {
  background-color: #fff !important;
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: 0px !important;
  display: flex;
  justify-content: space-between;
  border-bottom: 6px solid #fff;
  height: 100px;
  z-index: 1000;
  @media (max-width: 767px) {
    transition: all 0.3s ease-in-out;
    height: auto;
  }

  .navbar-brand {
    padding-top: 8px;
    padding-bottom: 8px;
    img {
      width: 100%;
      height: 75px;
      @media (max-width: 960px) {
        width: 170px;
      }
    }
  }
  #navbarNav {
    flex-direction: row-reverse;
    @media (min-width: 768px) {
      height: 100%;
    }
  }
  &-nav {
    height: 100%;
    grid-column-gap: 3.2vw;
    grid-row-gap: 10px;
    align-items: center;

    @media (max-width: 1445px) {
      grid-column-gap: 1.2vw;
    }
    @media (max-width: 1162px) {
      grid-column-gap: 0.5vw;
    }
    @media (max-width: 794px) {
      grid-column-gap: 0;
    }
    .nav-item {
      height: max-content;
      text-wrap: nowrap;
      @media (max-width: 767px) {
        width: 100%;
      }
      .dropdown {
        @media (max-width: 767px) {
          top: unset;
          transform: unset;
        }
        .nav-link {
          background-color: unset;
          border: none;
          outline: none;

          &.active,
          &:hover {
            border: none;
            outline: none;
            appearance: none;
          }
        }
        .dropdown-menu {
          .dropdown-item,
          .nav-link {
            padding: 8px 10px !important;
          }
        }
      }
      .nav-link {
        height: 100%;
        display: flex;
        align-items: center;
        color: #51565e;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
        margin: 0px;
        padding: 0px;
        position: relative;
        padding: 0px 10px;
        padding-bottom: 5px;
        @media (max-width: 1445px) {
          font-size: 16px;
          padding: 0px 8px;
        }
        @media (max-width: 772px) {
          padding: 0px 5px;
        }
        transition: all 0.2s ease-in-out;

        &::before {
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
          content: "";
          height: 2px;
          width: 0%;
          transition: all 0.2s ease-in-out;
          background: linear-gradient(
            270deg,
            rgba(38, 87, 164, 0) 0%,
            #2657a4 48.85%,
            rgba(38, 87, 164, 0) 100%
          );
        }
        &.active {
          color: #3861ae;
          &::before {
            width: 100%;
          }
        }

        &:hover {
          color: #3861ae;
          &::before {
            width: 100%;
          }
        }
        @media (max-width: 1770px) {
          padding: 0px 8px;
        }
        @media (max-width: 767px) {
          padding-top: 10px;
          padding-bottom: 10px;
          width: 100%;
          justify-content: center;
          align-items: center;
        }

        &:last-child {
          @media (max-width: 767px) {
            padding-bottom: 10px;
          }
        }
      }
    }
  }
  .navbar-toggler {
    iconify-icon {
      color: #f26927;
      font-size: 2.8rem;

      font-size: 2.8rem;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
// .vect-img {
//   position: absolute;
//   top: 10%;
//   left: 47%;
//   z-index: 2;
//       width: 500px;
//     /* height: auto; */
//     object-fit: cover;
//     aspect-ratio: 2/1;

//   img{

//       width: 100%;

// }
//   }

.hero {
  height: 829px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media (max-width: 600px) {
    height: 500px;
  }
  &::after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;

    z-index: 0;
  }

  &__captions {
    color: #fff;
    font-family: Bitter;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.28px;
    position: absolute;
    top: 50%;
    z-index: 1;
    left: 0%;
    text-align: center;
    transform: translateY(-50%);

    @media (max-width: 1200px) {
      padding: 0px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 525px;
      width: 100%;
      max-width: 320px;
    }

    @media (max-width: 360px) {
      max-width: 259px;
    }
    &__title {
      font-style: normal;
      font-weight: 700;
      font-size: 1em;
      line-height: normal;
      text-align: left;

      @media (max-width: 1200px) {
        width: 100%;
        font-size: 32px;
        text-align: center;
        line-height: 120%;
      }
    }
    &__sub {
      color: #fff;
      font-family: Inter;
      text-align: left;
      font-size: 16px;
      font-style: normal;
      font-weight: 200;
      line-height: 30px;
      letter-spacing: -0.32px;
      display: flex;
      align-items: center;
      text-wrap: wrap;
      margin-top: 30px;
      max-width: 630px;
      @media (max-width: 1200px) {
        font-size: 1.8rem;
        line-height: 25px;
        margin-top: 24px;
        text-align: center;
        width: 100%;
      }

      @media (max-width: 437px) {
        font-size: 1.6rem;
        line-height: 25px;
        margin-top: 24px;
        padding: 10px;
        width: 100%;
      }
    }
  }
  .ph-caret-left {
    position: absolute;
    left: 7.5%;
    top: 50%;
    z-index: 5;
    transform: translateY(-50%);
    color: white;
    border: 1px solid #fff;
    padding: 13px;
    font-size: 20px;
    transition: all 0.2s ease-in-out;
    &:hover {
      background: #f26927;
      color: #fff;
    }
    @media (max-width: 1568px) {
      left: 3.5%;
    }
    @media (max-width: 725px) {
      font-size: 1.8rem;
      padding: 6px;
    }
  }
  .ph-caret-right {
    position: absolute;
    right: 7.5%;
    top: 50%;
    z-index: 5;
    transform: translateY(-50%);
    color: white;
    border: 1px solid #fff;
    padding: 13px;
    font-size: 20px;
    transition: all 0.2s ease-in-out;
    &:hover {
      background: #f26927;
      color: #fff;
    }
    @media (max-width: 1568px) {
      right: 3.5%;
    }
    @media (max-width: 725px) {
      font-size: 1.8rem;
      padding: 6px;
    }
  }
}

.hero-wrapper {
  position: relative;
  .hero__points {
    z-index: 1000;
    position: absolute;
    top: 100%;
    right: 0;
    transform: translateY(-50%);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: #963337;
    padding: 30px 60px;
    color: #fff;
    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      padding: 0px 35px;
      gap: 10px;
      position: relative;
      &::after {
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 85%;
        content: "";
        background-color: #fff;
      }
      &:nth-child(1) {
        padding-left: 0px;
      }
      &:last-child {
        border-right: none;
        padding-right: 0px;
        &::after {
          display: none;
        }
      }
      iconify-icon {
        font-size: 3.5rem;
      }
      &__text {
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 17px;
        text-align: center;
        color: #ffffff;
      }
    }
    @media (max-width: 767px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 25px;
      .hero__points__item {
        padding: 0px 15px;
        &::after {
          display: none;
        }
      }
    }
  }
}

.cutoff-text {
  --max-lines: 2;
  --line-height: 1.5;
  height: calc(var(--max-lines) * 1em * var(--line-height));
  line-height: var(--line-height);
  overflow: hidden;
  position: relative;
  margin-bottom: 0px;
  &:has(
      + .vehicle-detail__carousel-item-left__expand-btn:not(:checked)
    )::before {
    content: "";
    position: absolute;
    height: 16px;
    width: 100%;
    bottom: 0;
    pointer-events: none;
  }
  &:has(+ .vehicle-detail__carousel-item-left__expand-btn:checked) {
    height: auto;
  }
}
.vehicle-detail__carousel-item-left__expand-btn {
  margin-top: 25px;
  appearance: none;
  color: #fff;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  &::before {
    content: "See More";
  }
  &:checked::before {
    content: "See Less";
  }
}
.counterSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  grid-column-gap: 120px;
  grid-row-gap: 45px;
  .counter__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    p {
      font-size: 1.8rem;
      color: #4e4e4e;
      text-transform: capitalize;
    }
  }
}

.readmoreBtn {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 21px;
  color: #f37022;
  text-transform: capitalize;
  background-color: transparent;
  margin-top: 10px;
  transition: all 0.2s ease-in-out;
  &--black {
    color: #888888;
    font-weight: 700;
  }
  &:hover{
    color: rgba(#f37022, 0.7);
  }
}
.jobs {
  padding-top: 200px;
  &__content {
    margin: 0 auto;
    position: relative;
    width: 64%;
  }
  @media (max-width: 1024px) {
    @include sectionpadding1440;
  }
  &__swiper {
    margin-top: 20px;
    &__slide {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      font-style: normal;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 24px;
      color: #4b4b4b;
      padding: 10px;
      border-radius: 7px;
      .img__container {
        width: 100%;
        height: 315px;
        object-fit: cover;
        position: relative;
        &::after {
          position: absolute;
          bottom: 0;
          left: 0;
          content: "";
          width: 100%;
          height: 20%;
          z-index: 16;
          background: linear-gradient(
            to top,
            rgba(#f37022, 0.5) 1%,
            rgba(0, 0, 0, 0) 99%
          );
        }
      }
      &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &__jobTitle {
        margin-top: 14px;
        line-height: 2.1rem;
        font-weight: 500;
        overflow: hidden;
        display: block;
        height: 4.2rem;
        -webkit-line-clamp: 2;
        display: box;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        white-space: normal;
      }
      &__salary {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
      }
      .country {
        margin-top: 10px;
        margin-bottom: 15px;
        font-family: inherit;
        font-style: normal;
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 18px;
        height: 18px;
        color: #f37022;
      }
    }
  }
  &__swiper__btns {
    position: absolute;
    width: 100%;
    top: 45%;
    left: 0;
    display: flex;
    justify-content: space-between;
    transform: translateY(-100%);
    &__prev,
    &__next {
      border: 1px solid #cacaca;
      padding: 16px;
      font-size: 2rem;
      color: #cacaca;
      transition: all 0.2s ease-in-out;
      &:hover {
        background-color: #963337;
      }
      @media (max-width: 485px) {
        padding: 10px;
        font-size: 1.4rem;
      }
    }
    &__prev {
      margin-left: -80px;
      @media (max-width: 485px) {
        margin-left: -50px;
      }
    }
    &__next {
      margin-right: -80px;
      @media (max-width: 485px) {
        margin-right: -50px;
      }
    }
  }
}

.services {
  background: transparent;
  position: relative;
  padding-bottom: 0px;
  // .cTitle {
  //   margin-bottom: 2px;
  // }
  &__counter {
    &__item {
      &:nth-child(5) {
        grid-row-start: 2;
        grid-column-start: 2;
        @media (max-width: 1024px) {
          grid-column: initial;
          grid-row: initial;
        }
      }
      &:nth-child(6) {
        grid-row-start: 2;
        grid-column-start: 3;
        @media (max-width: 1024px) {
          grid-column: initial;
          grid-row: initial;
        }
      }
    }
  }
  &__heading {
    margin-bottom: 12px;
    margin-top: 63px;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 45px;
    @media (max-width: 1024px) {
      gap: 15px;
    }
    @media (max-width: 850px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 425px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &__item {
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 52px 31px 107px 31px;
    transition: all 0.3s ease-in-out;

    @media (max-width: 1024px) {
      padding: 30px 15px;
    }
    transition: all 0.3s ease-in-out;

    iconify-icon {
      color: #fff;
      font-size: 4.2rem;
      margin-bottom: 30px;
    }
    &__title {
      color: #272727;
      text-align: center;
      font-family: Inter;
      font-size: 25px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 37.5px */
    }

    &__desc {
      color: #51565e;
      text-align: center;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 25.6px */
    }
  }
  &__counter {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: #043873;
    &__abs {
      position: absolute;
      left: 0;
    }
    @media (max-width: 1024px) {
      top: auto;
      margin-top: 45px;

      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 767px) {
      grid-template-columns: repeat(1, 1fr);
    }
    &__item {
      padding: 15px 20px;
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      animation-duration: 2s;
      @media (max-width: 1024px) {
        padding: 45px;
      }

      .num {
        font-family: Bitter;
        color: #f5f5f5;
        font-family: Bitter;
        font-size: 8rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        display: flex;
        flex-wrap: nowrap;
        gap: 5px;
      }
      .desc {
        color: #fff;
        font-family: Inter;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 175%;
        text-align: center;
      }

      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }
}
.footer {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 2fr;
  justify-content: space-between;
  background: rgb(33, 32, 32);
  grid-gap: 5%;

  @media (max-width: 1023px) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
  }
  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  &__box {
    height: max-content;
    margin-bottom: 11px;
    &__logo {
      max-width: 324px;
    }
    &:nth-child(3),
    &:nth-child(4) {
      @media (max-width: 767px) {
        grid-column: 1/3;
      }
    }
    iframe {
      width: 100%;
      height: 278px;
      @media (max-width: 1024px) {
        height: 200px;
      }
    }
    &__title {
      text-align: left;

      text-transform: capitalize;
      color: var(--white, #fff);
      font-family: Inter;
      font-size: 22px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%; /* 30.8px */
      margin-bottom: 36px;
    }
    &__desc {
      color: #fff;
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 170%; /* 30.6px */
      margin-bottom: 36px;
    }
    &__list {
      display: flex;
      flex-direction: column;
      grid-gap: 6px;

      @media (max-width: 1024px) {
        gap: 2px;
      }
      &__item {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        grid-gap: 10px;
        transition: all 0.2s ease-in-out;
        color: #fff;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 170%; /* 30.6px */
        iconify-icon {
          padding-top: 5px;
          font-size: 2rem;
          color: #fff;
          transition: all 0.2s ease-in-out;
        }

        &__icon {
          margin-top: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: transparent;
          border-radius: 100%;
          border: 1px solid #0f0f0f;
          padding: 4px;
          iconify-icon {
            padding: 0px;
            font-size: 2.3rem;
            color: #fff;
          }
        }
        a {
          display: flex;
          gap: 10px;

          font-style: normal;
          font-weight: 400;
          font-size: 1.6rem;
          line-height: 200%;
          text-align: justify;
          color: #ffffff;
          transition: all 0.2s ease-in-out;
          color: #fff;
          font-family: Inter;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 170%; /* 30.6px */
          iconify-icon {
            transition: all 0.2s ease-in-out;
          }
          &:hover {
            color: #212121;

            iconify-icon {
              color: #212121 !important;
            }
          }
        }
      }
    }
  }
}

.footer__bottom {
  display: flex;
  justify-content: space-between;

  @media (max-width: 767px) {
    justify-content: center;
  }
  flex-direction: row;
  align-items: center;
  background: #212121;
  align-items: center;
  grid-gap: 0px;
  flex-wrap: wrap;
  padding-top: 18px;
  padding-bottom: 18px;
  grid-gap: 15px;
  &__copyright {
    color: #fff;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 28.8px */
    text-align: center;
    justify-content: center;
    .clargeText {
      font-size: 1.4rem;
      line-height: 15px;
      text-transform: none;
      color: #fff;
    }
  }
}

.clients__item {
  iconify-icon {
    font-size: 85px;
    color: #f26927;
  }
  &__desc {
    margin-top: 30px;
    margin-bottom: 30px;
    p {
      color: #272727;
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: -0.36px;
    }
  }

  &__footer {
    border-top: 1px solid #272727;
    padding-top: 60px;
    display: flex;
    align-items: center;
    gap: 30px;
    &__img {
      border-radius: 100%;
      overflow: hidden;
      min-width: 95px;
      height: 95px;
      object-fit: cover;
    }
    &__person {
      display: flex;
      flex-direction: column;
      gap: 15px;
      &__title {
        color: #272727;
        font-family: Inter;
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 600;
        line-height: 36px;
      }
      &__label {
        color: #272727;
        font-family: Inter;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.32px;
      }
    }
  }
}

.swiper-slide.hero {
  width: 1860px;
  aspect-ratio: 1/1;
  object-fit: cover;
}
// .services__item::after {
//   position: absolute;
//   z-index: -1;
//   border: 1px solid black;
//   background: url("/images/Rectangle\ 61.png");
//   // background: linear-gradient(106deg, #3861ae -31.47%, #32589d 136.15%);
//   // clip-path: ellipse(99% 52% at 27% 97%);
//   top: 0%;
//   left: 0%;
//   width: 100%;
//   height: 100%;
//   content: "";
//   opacity: 0;
// }
.services__item:hover .img-hr {
  opacity: 1;
}
.services__item:hover .img-hr {
  opacity: 1;
}
.services__item:hover .services__item__title {
  color: #fff;
}
.services__item:hover .services__item__desc {
  color: #fff;
}
.services__item {
  margin-bottom: 86px;
  .img-hr {
    position: absolute;
    width: 100%;
    height: auto;
    top: 76%;
    left: 0;
    z-index: -1;
    opacity: 0;
    border: 1px solid #1d1c1c 0;
    transform: translateY(-50%);
  }
}
.bestway {
  background-size: cover;
}
.bestway__grid__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  max-width: 500px;
  position: absolute;
  height: 130px;
  transform: rotate(calc(360deg / 6 * var(--i)));
  transform-origin: 238px;
}
.bestway__grid__item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 100%;
  padding: 25px;
  iconify-icon {
    font-size: 65px;
    color: #3861ad;
  }
}
.bestway__grid__item__title {
  color: #fff;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.bestway__grid__item__desc {
  margin-top: 15px;
  color: #fff;
  text-align: justify;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170.25%; /* 27.24px */
}

.bestway__grid {
  position: relative;
}
.bestway {
  background-size: cover;
}

.bestway__grid__imgabs {
  position: absolute;
  border-radius: 100%;
  width: 40%;
  height: auto;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  border: 20px solid #f26927;

  @media (max-width: 1406px) {
    width: 48%;
  }
  @media (max-width: 1023px) {
    display: none;
  }
}

.rotate {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  width: 100%;
  cursor: pointer;
  &:hover {
    .bestway__grid__item__icon {
      background-color: #f26927;

      iconify-icon {
        color: white;
      }
    }
  }
}

.bestway__grid__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 90px 0px;
  position: relative;
  z-index: 1;

  @media (max-width: 1406px) {
    gap: 55px 0px;
  }
  @media (max-width: 1023px) {
    display: flex;
    flex-direction: column;
  }
  .rotate {
    @media (max-width: 1023px) {
      padding: 0px !important;
      flex-direction: row !important;
      * {
        text-align: left !important;
      }
    }
    &:nth-child(1),
    &:nth-child(5) {
      padding-right: 15%;
      flex-direction: row-reverse;
      * {
        text-align: right;
      }
    }
    &:nth-child(2),
    &:nth-child(6) {
      padding-left: 15%;
      * {
        text-align: left;
      }
    }
    &:nth-child(3) {
      padding-right: 40%;
      flex-direction: row-reverse;
      * {
        text-align: right;
      }
    }
    &:nth-child(4) {
      padding-left: 40%;
      text-align: left;
    }
    @media (max-width: 1023px) {
      &:nth-child(1) {
        order: 6 !important;
      }
      &:nth-child(2) {
        order: 0 !important;
      }
      &:nth-child(3) {
        order: 5 !important;
      }
      &:nth-child(4) {
        order: 1 !important;
      }
      &:nth-child(5) {
        order: 4 !important;
      }
      &:nth-child(6) {
        order: 3;
      }
    }
  }
}

.comonSectionTitle {
  color: #fff;
  font-family: Bitter;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  margin-bottom: 85px;
}

.bestway__grid__item__desc {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 85px;
}

.bestway__grid__item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 100%;
  padding: 25px;
  transition: all 0.3s ease-in-out;
  iconify-icon {
    font-size: 65px;
    color: #3861ad;
    @media (max-width: 1406px) {
      font-size: 45px;
    }
  }
}

.sectionHeader {
  position: relative;
  width: max-content;
  margin-bottom: 15px;
  &--center {
    margin: 0 auto;
  }

  @media (max-width: 991px) {
    width: 100%;
  }
  &__title {
    color: #3861ae;
    font-family: Bitter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    z-index: 2;

    &--center {
      text-align: center;
    }
    &--lg {
      max-width: 590px;
    }
  }
  &__decor {
    position: absolute;
    bottom: 6px;
    right: 0px;
    transform: translateX(30px);
    z-index: 1;
    &--center {
      left: 50%;
      transform: translateX(-50%);
    }
    &--lg {
      transform: translateX(-50%) translateY(50%);
    }

    @media (max-width: 550px) {
      display: none;
    }
  }
}

.aboutUs__layout {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  gap: 38px;
  &--mision {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 1710px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 1023px) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.aboutUs__imgContainer {
  width: 100%;
  img {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;

  &--3 {
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3;
  }
  &--5 {
    -webkit-line-clamp: 5; /* number of lines to show */
    line-clamp: 5;
  }
  &--1 {
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1;
  }
  &--4 {
    -webkit-line-clamp: 4; /* number of lines to show */
    line-clamp: 4;
  }
  &--7 {
    -webkit-line-clamp: 7; /* number of lines to show */
    line-clamp: 7;
  }

  @media (max-width: 1023px) {
    display: unset;
  }
  -webkit-box-orient: vertical !important;
  /* autoprefixer: off */
}

.services__list {
  gap: 36px;

  @media (max-width: 1440px) {
    gap: 20px;
  }
  @media (max-width: 1023px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 720px) {
    grid-template-columns: 1fr;
  }
  &__card {
    box-shadow: 0px 6px 50px 5px rgba(6, 14, 26, 0.05);
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    padding: 0px 2px;
    background: #fff;
    box-shadow: 0px 2px 40px 5px rgba(6, 14, 26, 0.05);
    position: relative;
    cursor: pointer;
    height: auto;
    transition: all 0.7 ease-in-out;

    &:hover {
      background: linear-gradient(180deg, rgba(56, 97, 174, 0) 0%, #3861ae 100%),
        #fff;
      .services__list__card__bg {
        bottom: 0;
        opacity: 1;
      }
      .services__list__card__title {
        color: #fff;
      }
      .services__list__card__desc {
        color: #fff;
      }
    }
    .bg-w {
      background-color: #fff;
      padding: 30px;
      padding-top: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      height: 100%;
      @media (max-width: 1440px) {
        padding: 15px;
        padding-top: 30px;
      }
    }
    iconify-icon {
      padding: 40px;
      font-size: 65px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: 1440px) {
        padding: 25px;
        font-size: 45px;
      }
    }

    &__bg {
      position: absolute;
      bottom: -100%;
      left: 0;
      width: 100%;
      z-index: 0;
      opacity: 0;
      transition: all 0.5s ease-in-out;
      height: 60%;
    }

    &__title {
      color: #272727;
      text-align: center;
      font-family: Inter;
      font-size: 25px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      margin-top: 60px;
      margin-bottom: 12px;
      position: relative;
      z-index: 1;
      transition: all 0.3s ease-in-out;
      @media (max-width: 1440px) {
        margin-top: 30px;
      }
      @media (max-width: 1160px) {
        font-size: 22px;
      }
    }

    &__desc {
      color: #51565e;
      text-align: center;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      position: relative;
      z-index: 1;
      transition: all 0.3s ease-in-out;
      @media (max-width: 1440px) {
        padding-bottom: 30px;
      }
    }
    &:nth-child(n + 1) {
      iconify-icon {
        background-color: #faeaea;
        color: #a52626;
      }
    }
    &:nth-child(n + 2) {
      iconify-icon {
        background-color: #f9f2e8;
        color: #9b6717;
      }
    }
    &:nth-child(n + 3) {
      iconify-icon {
        color: #107b75;
        background-color: #e7f6f5;
      }
    }
    &:nth-child(n + 4) {
      iconify-icon {
        color: #c231da;
        background-color: #f4e7f6;
      }
    }
  }
}

.news__swiper {
  margin-top: 55px;

  &__card {
    border-radius: 13px;
    overflow: hidden;
    border: 1px solid rgba(#272727, 0.1);
    display: block;
    &:hover {
      .news__swiper__card__img {
        filter: grayscale(1);
        cursor: pointer;
      }
    }
    &__img {
      transition: all 0.3s ease-in-out;
      width: 100%;
      min-height: 450px;
      height: 100%;
      object-fit: cover;
    }
    .content {
      padding: 35px;
      @media (max-width: 1387px) {
        padding: 12px;
      }
    }
    p {
      color: #272727;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 170%;
    }
    &__labels {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 20px;
      gap: 5px 25px;
      @media (max-width: 1387px) {
        gap: 5px 8px;
      }
      &__item {
        color: rgba(#272727, 0.7);
        font-family: Inter;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        display: flex;
        align-items: center;
        gap: 6px;
        iconify-icon {
          font-size: 18px;
        }
      }
    }
    &__title {
      color: #272727;
      font-family: Inter;
      font-size: 2.2rem;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      margin-bottom: 10px;
    }
    a.readmoreBtn {
      display: block;
      margin-top: 25px;
    }
  }
}

.clients__swiper {
  padding-top: 60px;
  padding-bottom: 40px;
  .swiper-slide {
    border-radius: 10px;
    background: #fff;
    box-shadow: 15px 10px 50px 0px rgba(0, 0, 0, 0.1);
    padding: 60px 40px;
    transition: all 0.3s ease-in-out;
    &:hover {
      background:radial-gradient(#3861AE 30%, #3861AE 25.85%, #67ADFF 72.65%);
      cursor: pointer;
      * {
        color: #fff;
      }
      .clients__item__footer {
        border-color: #fff;
      }
    }
  }
}

.footersection {
  background-size: cover;
  .wrapper-grid {
    display: grid;
    grid-template-columns: 1fr 185px 185px 1fr;
    gap: 30px 100px;
    justify-content: space-between;
    @media (max-width: 1650px) {
      gap: 30px 50px;
    }
    @media (max-width: 1439px) {
      gap: 30px 30px;
    }
    @media (max-width: 1024px) {
      grid-template-columns: 1fr auto auto 1fr;
    }
    @media (max-width: 1023px) {
      grid-template-columns: 1fr 1fr;
      .footersection__item {
        &:nth-child(1) {
          order: 1;
        }
        &:nth-child(2) {
          order: 3;
        }
        &:nth-child(3) {
          order: 4;
        }
        &:nth-child(4) {
          order: 2;
        }
      }
    }
    @media (max-width: 991px) {
      grid-template-columns: 1fr;
      gap: 40px;
    }
  }
  &__bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px 50px;
    padding-top: 35px;
    border-top: 2px solid #3861ae;
    margin-top: 40px;
    flex-wrap: wrap;
    &__item {
      color: rgba(#fff, 0.7);
      font-family: Inter;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 500;
      line-height: 160%;
      &:hover {
        a {
          color: #3861ae;
        }
      }

      a {
        color: rgba(#fff, 0.7);
        transition: all 0.3sec ease-in-out;
      }
    }
  }
  &__item {
    .logo {
      width: 100%;
      max-width: 300px;
      margin-bottom: 15px;
    }
    iframe {
      width: 100%;
      height: 275px;
    }
    &__title {
      font-family: Inter;
      font-size: 2.2rem;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
      color: #fff;
      margin-bottom: 35px;
      @media (max-width: 991px) {
        margin-bottom: 15px;
      }
    }
    p {
      color: rgba(#fff, 0.7);
      font-family: Inter;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 400;
      line-height: 170%;
    }
    &__links {
      display: flex;
      flex-direction: column;
      gap: 12px;
      &__item {
        color: rgba(#fff, 0.7);
        font-family: Inter;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 170%;
        transition: all 0.3s ease-in-out;
      }
    }
    &__icons {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      gap: 15px;
      margin-top: 35px;
      &__link {
        padding: 13px;
        border: 1px solid #3861ae;
        color: #fff;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease-in-out;
        iconify-icon {
          transition: all 0.3s ease-in-out;
          font-size: 1.8rem;
        }
        &:hover {
          background-color: #3861ae;
          cursor: pointer;
          iconify-icon {
            color: #fff;
          }
        }
      }
    }
  }
}

.clients__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  align-items: center;

  img {
    width: 100%;
    max-width: 300px;
  }
}


.box .cSubText img{
  border: 18px solid #3a3b3b;
  height: max-content;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px;
}

.box .cSubText.gridder p{
  display: grid;
  grid-template-columns:1fr 1fr;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 40px;
  img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.sectionHeader__title{
  background: radial-gradient(#3861AE 10%, #3861AE 25.85%, #67ADFF 80.65%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;

}

.footersection {
  background:none;

  background-color: rgba(39, 39, 39, 0.1);
  *{
    color: #000;
  }

  .footersection__item p {
  color: #000;
    font-family: Inter;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
}

.footersection__bottom__item a {
  color: #043873;
  transition: all 0.3sec ease-in-out;
}
}

.services__counter,.bestway {
  position: relative;
  &::after{
    content: "";
    width: 100%;
    height: 100%;
    background:radial-gradient(#3861AE 50%, #3861AE 25.85%, #67ADFF 72.65%);
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0.3;
  }
  &__item{
    position: relative;
    z-index: 5;
  }

}

.bestway {
  position: relative;
  &::after{
    content: "";
    width: 100%;
    height: 100%;
    background:radial-gradient(#3861AE 65%, #3861AE 25.85%, #67ADFF 72.65%);
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0.3;
  }


}

.bestway__grid {
  position: relative;
  z-index: 1;
}

.comonSectionTitle {
  position: relative;
  z-index: 1;
}