.jobDetail{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 25px;
    .cBtn{
        width: max-content;
        margin-right: 0px;
        margin-left: auto;
    }
    &__main{
        padding: 30px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        &__mainImg{
            width: 100%;
            height: 450px;
            object-fit: cover;
            margin-bottom: 20px;
        }
        &__date{
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 1.6rem;
            justify-content: space-between;
            margin-bottom: 10px;
            &__item{
                display: flex;
                gap: 10px;
                align-items: center;
            }
            iconify-icon{
                font-size: 2.1rem;
            }
        }
        &__desc{
            margin-bottom: 20px;
        }
        &__title{
            color:  #963337;
            text-align: left;
            padding-bottom: 8px;
            border-bottom: 2px solid #963337;
            margin-bottom: 10px;
        }
        &__subTitle{
            font-size: 2rem;
            margin-bottom: 10px;
            font-weight: 600;
        }
        &__jobDetails{
            display: flex;
            flex-direction: column;
            gap: 4px;
            margin-bottom: 30px;
            &__point{
                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                font-size: 1.4rem;
                line-height: 157%;
                color: #313131;
            }
        }
    }
    &__side{
        height: max-content;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 30px;
        &__title{
            color: #963337;
            text-align: left;
            font-size: 2.4rem;
            margin-bottom: 20px;
        }
        &__list{
            display: flex;
            flex-direction: column;
            gap: 25px;
            &__item{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 25px;
                padding-bottom: 25px;
                border-bottom: 1px solid  #963337;
                &__img{
                    width: 100px;
                    object-fit: contain;
                    height: 100px;
                }
                &__title{
                    font-style: normal;
                    font-weight: 600;
                    font-size: 1.8rem;
                    line-height: 19px;
                    color: #4e4e4e;
                    margin-bottom: 10px;
                }
                &__desc{
                    margin-bottom: 16px;
                }
                .cBtn{
                    margin-left: 0px;
                    margin-right: auto;
                }
            }
        }
    }
}

.demandsDetailPage{
    background-color: rgba(#3861ae, 0.1);
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;

    @media(max-width:768px){
        grid-template-columns: 1fr;
    }
    &__main{
        background-color: #fff;
        border-radius: 10px;
        padding: 40px;
        box-shadow: 0px 1px 4px rgba(#079998, 0.25);
        @media(max-width:768px){
            padding: 25px;
        }
        .cBtn{
            display: inline-block;
            margin-left: auto;
            margin-right: 0px;
        }
        &__locationDate{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 20px;
            flex-wrap: wrap;
            margin-bottom: 25px;
            &__item{
                font-style: normal;
                font-weight: 600;
                font-size: 1.4rem;
                line-height: 160%;
                text-align: justify;
                color: #464646;
                text-transform: capitalize;
                display: flex;
                align-items: center;
                gap: 5px;
                iconify-icon {
                    color: #464646;
                    font-size: 1.8rem;
                }
            }
        }
        &__img{
            margin-bottom: 15px;
            img{
                width: 100%;
                height: auto;
                object-fit: contain;
                border-radius: 10px;
            }
        }
        &__jobTitle{
            font-style: normal;
            font-weight: 500;
            font-size: 2.6rem;
            line-height: 39px;
            color: #313131;
            padding: 5px 15px;
            border-radius: 10px;
            text-transform: capitalize;
            background-color:  rgba(#3861ae, 0.1);
            margin-bottom: 35px;
        }
        &__descHeader{
            font-size: 1.7rem;
            line-height: 30px;
            font-weight: 600;
            text-transform: capitalize;
            margin-bottom: 10px;
        }
        &__desc{
            color: rgb(70, 70, 70);
            font-style: normal;
            font-weight: 400;
            font-size: 1.7rem;
            line-height: 160%;
            text-align: justify;
            margin-bottom: 35px;
        }
        .aboutUs__content__list{
            gap: 8px;
            margin-top: 10px;
            margin-bottom: 0px;
            iconify-icon{
                padding: 3px;
            }
            &__item{
                gap: 10px;
            }
        }
        
    }
    &__side{
        background-color: #fff;
        border-radius: 10px;
        padding: 40px;
        box-shadow: 0px 1px 4px rgba(#079998, 0.25);
        height: max-content;
        @media(max-width:768px){
            padding: 25px;
        }
        .demandsDetailPage__main__descHeader{
            margin-bottom: 20px;
        }
        &__list{
            display: flex;
            flex-direction: column;
            gap: 20px;
            &__item{
                display: grid;
                grid-template-columns: 8vw 1fr;
                gap: 20px;

                @media(max-width:1024px){
                    grid-template-columns: 1fr;
                }
                @media(max-width:768px){
                    grid-template-columns: 100px 1fr;
                }
                img{
                    width: 100%;
                    border-radius: 10px;
                    height: 100px;
                    object-fit: cover;
                    @media(max-width:768px){
                        height: 80px;
                    }
                }
                &__desc{
                    &__head{
                        font-style: normal;
                        font-weight: 700;
                        font-size: 1.6rem;
                        line-height: 160%;
                        text-align: justify;
                        color: #464646;
                        text-transform: capitalize;
                    }
                    &__body{
                        margin-top: 6px;
                        font-size: 1.4rem;
                        line-height: 120%;
                    }
                    .viewBlock{
                        display: flex;
                        margin-top: 10px;
                        justify-content: flex-end;
                    }
                    .cBtn{
                        display: inline-flex;
                        span{
                            padding: 5px 18px;
                        }
                    }
                }
            }
        }
    }
}