.jobseeker{
    &__list{
        margin: 0 auto;
        max-width: 1150px;
        display: flex;
        flex-direction: column;
        gap: 32px;
        &__item{
            background: #FFFFFF;
            box-shadow: 0px 2px 10px 4px rgba(0, 0, 0, 0.06);
            &__header{
                background: #963337;
                padding: 13px 40px;
                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                font-size: 1.6rem;
                line-height: 157%;
                color: #FFFFFF;
            }
            &__body{
                display: flex;
                justify-content: space-between;
                gap: 25px;
                padding: 25px 40px;
                @media(max-width:767px){
                    flex-direction: column;
                    align-items: flex-start;
                }
                &__col{
                    font-family: 'Lato';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 2.2rem;
                    line-height: 157%;
                    color: #6A6A6A;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    &__listItem{
                        font-family: 'Lato';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 1.6rem;
                        line-height: 157%;
                        color: #313131;
                        display: flex;
                        align-items: center;
                        gap:20px ;
                        iconify-icon{
                            font-size: 2.2rem;
                            color: #313131;
                        }
                    }
                }
            }
        }
    }
    .cBtn{
        margin-left: auto;
        margin-right: 0px;
        width: max-content;
    }
}

.jobSeekerVacancyList{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 45px 25px;
    @media(max-width:1440px){
        grid-template-columns: repeat(4,1fr);
    }
    @media(max-width:1024px){
        grid-template-columns: repeat(3,1fr);
    }
    @media(max-width:768px){
        grid-template-columns: repeat(2,1fr);
    }
    @media(max-width:425px){
        grid-template-columns: repeat(1,1fr);
    }
    .jobs__swiper__slide{
        min-width: 100%;
        margin-right: 0px;
        .img__container{
            height: 350px;
        }
        &__img{
            object-fit: cover;
        }
    }
}

.aboutUs__content__list{
    font-size: 16px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    &__item{
        display: flex;
        flex-direction: row;
        gap: 3px;
        align-items: center;

        iconify-icon{
            background-color: #3861ae;
            color: #fff;
            font-size: 12px;
        }
    }
}