.recrutmentPage{
    display: flex;
    flex-direction: column;
    gap: 33px;
    &__item{
        display: grid;
        grid-template-columns: 1fr 72px 1fr;
        align-items: center;
        
        &__mainImg{
            display: flex;
            justify-content: flex-end;
            padding-right: 60px;
            img{
                max-width: 330px;
            }
        }
        &__bar{
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            img{
                width: 12px;
                height: auto;

            }
            .sectionNumber{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                background: #FFFFFF;
                border: 1px solid #3861ae;
                border-radius: 100%;
                width: 42px;
                height: 42px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: 'Lato';
                font-style: normal;
                font-weight: 900;
                font-size: 2rem;
                line-height: 157%;
                text-align: justify;
                color: #3861ae;
            }
        }
        &__about{
            &__title{
                font-family: 'Lato';
                font-style: normal;
                font-weight: 800;
                font-size: 1.6rem;
                line-height: 157%;
                text-align: justify;
                color: #3861ae;
                margin-bottom: 10px;
            }
            &__desc{
                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                font-size: 1.5rem;
                line-height: 155%;
                text-align: justify;
                color: #6A6A6A;
            }
            &__points{
                display: flex;
                flex-direction: column;
                margin-top: 10px;
            }
            &__point{
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                iconify-icon{
                    font-size: 3rem;
                    color: #6A6A6A;
                }    
            }
        }
        &:nth-child(even){
            .recrutmentPage__item__mainImg{
                grid-column: 3/4;
                grid-row: 1/2;
                justify-content: flex-start;
                padding-right: 0px;
                padding-left: 60px;
                @media(max-width:768px){
                  padding-left: 0px;
                 
                }
            }
            .recrutmentPage__item__about{
                grid-column: 1/2;
                grid-row: 1/2;
                &__title{
                    text-align: right;
                    @media(max-width:768px){
                    text-align: left;
                    }
                }
            }
            .recrutmentPage__item__bar{
                grid-column: 2/3;
                grid-row: 1/2;
            }
        }
        @media(max-width:768px){
            display: block;
            .recrutmentPage__item__bar{
               display: none;
            }
            .recrutmentPage__item__mainImg{
                margin-bottom: 25px;
                display: block;
                img{
                    width: 100%;
                  }
            }
        }
    }
}