.services {
  .overlay {
    top: 16%;
    left: 65%;
    position: absolute;
    z-index: 5;
    transform: translateY(63%);
  }
}
.services--page {
  background-color: transparent;
  .cSectionText {
    max-width: 900px;
    margin: 0 auto;
  }
  // .services__item {
  //   border: 1px solid #e9e9e9;

  //   iconify-icon {
  //     color: #963337;
  //   }
  &__title {
    color: #963337;
  }
  &__desc {
    color: #6a6a6a;
  }
  .vehicle-detail__carousel-item-left__expand-btn {
    &::before {
      color: #963337;
    }
  }
  &:hover {
    background-color: #963337;
    > * {
      color: #fff !important;
    }
    .vehicle-detail__carousel-item-left__expand-btn {
      &::before {
        color: #fff;
      }
    }
  }
}
.services__item {
  border: 1px solid #e9e9e9;
  position: relative;

  iconify-icon {
    color: #963337;
    font-size: 70px;
    border: 1px solid transparent;
    background-color: #cb29291a;
    border-radius: 100%;
    padding: 60px;
  }
  &:nth-child(2) {
    iconify-icon {
      color: #9b6717;
      background-color: #9b67171a;
    }
  }
  &:nth-child(3) {
    iconify-icon {
      color: #107b75;
      background-color: #107b751a;
    }
  }
  &:nth-child(4) {
    iconify-icon {
      color: #c231da;
      background-color: #c231da1a;
    }
  }
}
