body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-bitter: Bitter;
  --font-inter: Inter;
  --font-inherit: inherit;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-11xl: 30px;

  /* Colors */
  --color-white: #fff;

  /* Paddings */
  --padding-21xl: 40px;
}
